<% c++ #include "controller/base.h" %>
<% skin my_skin %>
<% view base uses Content::Base %>

<% template customHeader() %>
<% if ( !content.customHeaderContent.empty() ) %>
    <header>
        <%= customHeaderContent | raw %>
    </header>
    <br />
<% end %>
<% end template %>

<% template customFooter() %>
<% if ( !content.customFooterContent.empty() ) %>
    <br />
    <footer>
        <%= customFooterContent | raw %>
    </footer>
<% end %>
<% end template %>

<% template settings() %>
<div class="settingsBar">
    <span>
        <form method="post" accept-charset="utf-8" action="/<%= sitePathPrefix %>action/change_locale"
              enctype="multipart/form-data" class="inlineForm">
            <%= localeLabelText %>
            <% if ( content.mode.name != "ascetic" ) %>
                <select id="localeChangeSelect" class="select" onchange="javascript:lord.changeLocale();">
            <% else %>
                <select id="localeChangeSelect" name="localeChangeSelect" class="select">
            <% end %>
                <% foreach locale in locales %>
                    <% item %>
                        <% if ( locale.name == content.currentLocale.name ) %>
                            <option value="<%= locale.name %>" selected="true">
                        <% else %>
                            <option value="<%= locale.name %>">
                        <% end %>
                            <%= locale.language %> (<%= locale.country %>)
                        </option>
                    <% end %>
                <% end %>
            </select>
            <% if ( content.mode.name == "ascetic" ) %>
                <input type="submit" name="submit" value="OK" class="button" />
            <% end %>
        </form>
    </span>
    <span>
        <% if ( content.mode.name != "ascetic" ) %>
            <button class="button" onclick="javascript:lord.showSettings();"><%= settingsButtonText %></button>
        <% else %>
            <a href="/<%= sitePathPrefix %>settings"
               target="_blank"><button class="button"><%= settingsButtonText %></button></a>
        <% end %>
    </span>
    <span>
        <% if ( content.mode.name != "ascetic" ) %>
            <button class="button" onclick="javascript:lord.showFavorites();"><%= showFavoriteText %></button>
        <% end %>
    </span>
    <span>
        <%= loginLabelText %>
        <% if ( content.loggedIn ) %>
            <% if ( content.mode.name != "ascetic" ) %>
                <button class="button" onclick="javascript:lord.doLogout();"><%= loginButtonText %></button>
            <% else %>
                <form method="post" accept-charset="utf-8" action="/<%= sitePathPrefix %>action/logout"
                      enctype="multipart/form-data" class="inlineForm">
                    <input type="submit" name="submit" value="<%= loginButtonText %>" class="button" />
                </form>
            <% end %>
        <% else %>
            <% if ( content.mode.name != "ascetic" ) %>
                <input id="loginInput" type="password" class="input" name="hashpass"
                       placeholder="<%= loginPlaceholderText %>" />
                <input id="showLoginCheckbox" type="checkbox" onclick="javascript:lord.switchShowLogin();"
                       name="showLogin" title="<%= showPasswordText %>" class="checkbox" />
                <button class="button" onclick="javascript:lord.doLogin();"><%= loginButtonText %></button>
            <% else %>
                <form method="post" accept-charset="utf-8" action="/<%= sitePathPrefix %>action/login"
                      enctype="multipart/form-data" class="inlineForm">
                    <input id="loginInput" type="password" class="input" name="hashpass"
                           placeholder="<%= loginPlaceholderText %>" />
                    <input type="submit" name="submit" value="<%= loginButtonText %>" class="button" />
                </form>
            <% end %>
        <% end %>
        <% if ( !content.loginMessageWarning.empty() ) %>
            <span class="loginMessageWarning"><%= loginMessageWarning %></span>
        <% elif ( !content.loginMessageOk.empty() ) %>
            <span class="loginMessageOk"><%= loginMessageOk %></span>
        <% end %>
    </span>
</div>
<% end template %>

<% template navbar() %>
<div class="navbar">
    <% foreach board in boards %>
        <% item %>
            <span class="navbarItem navbarItemBoard">[<a href="/<%= sitePathPrefix %><%= board.name %>"
                  title="<%= board.title %>"><%= board.name %></a>] </span>
        <% end %>
    <% end %>
    <% if ( content.mode.name != "ascetic" ) %>
        <span class="navbarItem">[<a href="/<%= sitePathPrefix %>playlist"><%= toPlaylistPageText %></a>]</span>
    <% end %>
    <span class="navbarItem">[<a href="/<%= sitePathPrefix %>markup"><%= toMarkupPageText %></a>]</span>
    <span class="navbarItem">[<a href="/<%= sitePathPrefix %>"><%= toHomePageText %></a>]</span>
</div>
<% end template %>

<% template searchAction() %>
<div class="searchAction">
    <form method="get" accept-charset="utf-8" action="/<%= sitePathPrefix %>search"
          enctype="multipart/form-data" class="inlineForm">
        <input id="searchFormInputQuery" type="text" class="input" maxlength="<%= maxSearchQueryLength %>" name="query"
               size="43" onkeypress="lord.searchKeyPress(event);" placeholder="<%= searchInputPlaceholder %>" />
        <select id="searchFormSelectBoard" name="board" class="select">
            <option value="*" selected="true">[*] <%= allBoardsText %></option>
            <%foreach board in boards %>
                <% item %>
                    <option value="<%= board.name %>">[<%= board.name %>] <%= board.title %></option>
                <% end %>
            <% end %>
        </select>
        <% if ( content.mode.name != "ascetic" ) %>
            <button class="button" onclick="javascript:lord.doSearch();"><%= searchButtonText %></button>
        <% else %>
            <input type="submit" class="button" value="<%= searchButtonText %>" />
        <% end %>
    </form>
</div>
<% end template %>

<% template baseTexts() %>
<input type="hidden" id="sitePathPrefix" value="<%= sitePathPrefix %>" />
<input type="hidden" id="siteDomain" value="<%= siteDomain %>" />
<input type="hidden" id="siteProtocol" value="<%= siteProtocol %>" />
<input type="hidden" id="showPasswordText" value="<%= showPasswordText %>" />
<input type="hidden" id="cancelButtonText" value="<%= cancelButtonText %>" />
<input type="hidden" id="closeButtonText" value="<%= closeButtonText %>" />
<input type="hidden" id="confirmButtonText" value="<%= confirmButtonText %>" />
<input type="hidden" id="removeFromFavoritesText" value="<%= removeFromFavoritesText %>" />
<input type="hidden" id="favoriteThreadsText" value="<%= favoriteThreadsText %>" />
<input type="hidden" id="settingsDialogTitle" value="<%= settingsDialogTitle %>" />
<input type="hidden" id="error413Text" value="<%= error413Text %>" />
<div id="settingsDialogTemplate" class="settingsDialog" style="display: none;">
    <fieldset>
        <legend><%= generalSettingsLegendText %></legend>
        <table>
            <tbody>
                <tr>
                    <td>
                        <%= modeLabelText %>
                    </td>
                    <td>
                        <select name="modeChangeSelect" class="select">
                            <% foreach m in modes %>
                                <% item %>
                                    <% if ( m.name == content.mode.name ) %>
                                        <option value="<%= m.name %>" selected="true">
                                    <% else %>
                                        <option value="<%= m.name %>">
                                    <% end %>
                                        <%= m.title %>
                                    </option>
                                <% end %>
                            <% end %>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <%= styleLabelText %>
                    </td>
                    <td>
                        <select name="styleChangeSelect" class="select">
                            <% foreach st in styles %>
                                <% item %>
                                    <% if ( st.name == content.style.name ) %>
                                        <option value="<%= st.name %>" selected="true">
                                    <% else %>
                                        <option value="<%= st.name %>">
                                    <% end %>
                                        <%= st.title %>
                                    </option>
                                <% end %>
                            <% end %>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <%= timeLabelText %>
                    </td>
                    <td>
                        <select name="timeChangeSelect" class="select">
                            <% if ( content.currentTime == "local" ) %>
                                <option value="server"><%= timeServerText %></option>
                                <option value="local" selected="true"><%= timeLocalText %></option>
                            <% else %>
                                <option value="server" selected="true"><%= timeServerText %></option>
                                <option value="local"><%= timeLocalText %></option>
                            <% end %>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <%= captchaLabelText %><sup><font color="red">*</font></sup>
                    </td>
                    <td>
                        <select name="captchaEngineSelect" class="select">
                            <% foreach ce in captchaEngines %>
                                <% item %>
                                    <% if ( ce.id == content.currentCaptchaEngine.id ) %>
                                        <option value="<%= ce.id %>" selected="true">
                                    <% else %>
                                        <option value="<%= ce.id %>">
                                    <% end %>
                                        <%= ce.title %>
                                    </option>
                                <% end %>
                            <% end %>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <%= draftsByDefaultLabelText %>
                    </td>
                    <td>
                        <% if ( content.draftsByDefault ) %>
                            <input type="checkbox" name="draftsByDefault" value="true" checked="true" />
                        <% else %>
                            <input type="checkbox" name="draftsByDefault" value="true" />
                        <% end %>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <sup><font color="red">*</font></sup> <%= captchaLabelWarningText %>
                    </td>
                </tr>
            </tbody>
        </table>
    </fieldset>
    <fieldset>
        <legend><%= scriptSettingsLegendText %></legend>
        <table>
            <tbody>
                <tr>
                    <td>
                        <%= quickReplyActionLabelText %>
                    </td>
                    <td>
                        <select name="quickReplyActionSelect" class="select">
                            <option value="goto_thread"><%= quickReplyActionGotoThreadText %></option>
                            <option value="do_nothing"><%= quickReplyActionDoNothingText %></option>
                            <option value="append_post"><%= quickReplyActionAppendPostText %></option>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
    </fieldset>
</div>
<% end template %>

<% template baseHead(bool javascript) %>
<title><%= pageTitle %></title>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<link id="favicon" rel="shortcut icon" href="/<%= sitePathPrefix %>favicon.ico">
<link rel="stylesheet" type="text/css" href="/<%= sitePathPrefix %>css/<%= style.name %>.css">
<% if ( javascript ) %>
    <script type="text/javascript" src="/<%= sitePathPrefix %>js/api.js"></script>
    <% if ( content.mode.name != "ascetic" ) %>
        <script type="text/javascript" src="/<%= sitePathPrefix %>js/3rdparty/picoModal-2.1.0.min.js"></script>
        <script type="text/javascript" src="/<%= sitePathPrefix %>js/3rdparty/sha1.js"></script>
        <script type="text/javascript" src="/<%= sitePathPrefix %>js/base.js"></script>
    <% end %>
<% end %>
<% end template %>

<% end view %>
<% end skin %>
