<% c++ #include "controller/base.h" %>
<% skin my_skin %>
<% view base uses Content::Base %>

<% template settings() %>
<div class="settingsBar">
    <span>
        <%= localeLabelText %>
        <select id="localeChangeSelect" class="select" onchange="javascript:lord.changeLocale();">
            <% foreach locale in locales %>
                <% item %>
                    <% if ( locale.name == content.currentLocale.name ) %>
                        <option value="<%= locale.name %>" selected="true">
                    <% else %>
                        <option value="<%= locale.name %>">
                    <% end %>
                        <%= locale.language %> (<%= locale.country %>)
                    </option>
                <% end %>
            <% end %>
        </select>
    </span>
    <span>
        <button class="button" onclick="javascript:lord.showSettings();"><%= settingsButtonText %></button>
    </span>
    <span>
        <button class="button" onclick="javascript:lord.showFavorites();"><%= showFavoriteText %></button>
    </span>
    <span>
        <%= loginLabelText %>
        <% if ( content.loggedIn ) %>
            <button class="button" onclick="javascript:lord.doLogout();"><%= loginButtonText %></button>
        <% else %>
            <input id="loginInput" type="password" class="input" name="hashpass"
                   placeholder="<%= loginPlaceholderText %>" />
            <input id="showLoginCheckbox" type="checkbox" class="checkbox" onclick="javascript:lord.switchShowLogin();"
                   name="showLogin" title="<%= showPasswordText %>" />
            <button class="button" onclick="javascript:lord.doLogin();"><%= loginButtonText %></button>
        <% end %>
        <% if ( !content.loginMessageWarning.empty() ) %>
            <span class="loginMessageWarning"><%= loginMessageWarning %></span>
        <% elif ( !content.loginMessageOk.empty() ) %>
            <span class="loginMessageOk"><%= loginMessageOk %></span>
        <% end %>
    </span>
</div>
<% end template %>

<% template navbar() %>
<div class="navbar">
    <% foreach board in boards %>
        <% item %>
            <span class="navbarItem">[<a href="/<%= sitePathPrefix %><%= board.name %>"
                  title="<%= board.title %>"><%= board.name %></a>] </span>
        <% end %>
    <% end %>
    <span class="navbarItem">[<a href="/<%= sitePathPrefix %>playlist"><%= toPlaylistPageText %></a>]</span>
    <span class="navbarItem">[<a href="/<%= sitePathPrefix %>markup"><%= toMarkupPageText %></a>]</span>
    <span class="navbarItem">[<a href="/<%= sitePathPrefix %>"><%= toHomePageText %></a>]</span>
</div>
<% end template %>

<% template searchAction() %>
<div class="searchAction">
    <input id="searchFormInputQuery" type="text" class="input" maxlength="<%= maxSearchQueryLength %>" name="query"
           size="43" onkeypress="lord.searchKeyPress(event);" placeholder="<%= searchInputPlaceholder %>" />
    <select id="searchFormSelectBoard" class="select">
        <option value="*" selected="true">[*] <%= allBoardsText %></option>
        <%foreach board in boards %>
            <% item %>
                <option value="<%= board.name %>">[<%= board.name %>] <%= board.title %></option>
            <% end %>
        <% end %>
    </select>
    <button class="button" onclick="javascript:lord.doSearch();"><%= searchButtonText %></button>
</div>
<% end template %>

<% template baseTexts() %>
<input type="hidden" id="sitePathPrefix" value="<%= sitePathPrefix %>" />
<input type="hidden" id="siteDomain" value="<%= siteDomain %>" />
<input type="hidden" id="siteProtocol" value="<%= siteProtocol %>" />
<input type="hidden" id="showPasswordText" value="<%= showPasswordText %>" />
<input type="hidden" id="cancelButtonText" value="<%= cancelButtonText %>" />
<input type="hidden" id="closeButtonText" value="<%= closeButtonText %>" />
<input type="hidden" id="confirmButtonText" value="<%= confirmButtonText %>" />
<input type="hidden" id="removeFromFavoritesText" value="<%= removeFromFavoritesText %>" />
<input type="hidden" id="favoriteThreadsText" value="<%= favoriteThreadsText %>" />
<input type="hidden" id="settingsDialogTitle" value="<%= settingsDialogTitle %>" />
<div id="settingsDialogTemplate" class="settingsDialog" style="display: none;" >
    <table>
        <tbody>
            <tr>
                <td>
                    <%= styleLabelText %>
                </td>
                <td>
                    <select name="styleChangeSelect" class="select">
                        <% foreach st in styles %>
                            <% item %>
                                <% if ( st.name == content.style.name ) %>
                                    <option value="<%= st.name %>" selected="true">
                                <% else %>
                                    <option value="<%= st.name %>">
                                <% end %>
                                    <%= st.title %>
                                </option>
                            <% end %>
                        <% end %>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <%= timeLabelText %>
                </td>
                <td>
                    <select name="timeChangeSelect" class="select">
                        <% if ( content.currentTime == "local" ) %>
                            <option value="server"><%= timeServerText %></option>
                            <option value="local" selected="true"><%= timeLocalText %></option>
                        <% else %>
                            <option value="server" selected="true"><%= timeServerText %></option>
                            <option value="local"><%= timeLocalText %></option>
                        <% end %>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <%= captchaLabelText %><sup><font color="red">*</font></sup>
                </td>
                <td>
                    <select name="captchaEngineSelect" class="select">
                        <% foreach ce in captchaEngines %>
                            <% item %>
                                <% if ( ce.id == content.currentCaptchaEngine.id ) %>
                                    <option value="<%= ce.id %>" selected="true">
                                <% else %>
                                    <option value="<%= ce.id %>">
                                <% end %>
                                    <%= ce.title %>
                                </option>
                            <% end %>
                        <% end %>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <%= quickReplyActionLabelText %>
                </td>
                <td>
                    <select name="quickReplyActionSelect" class="select">
                        <option value="goto_thread"><%= quickReplyActionGotoThreadText %></option>
                        <option value="do_nothing"><%= quickReplyActionDoNothingText %></option>
                        <option value="append_post"><%= quickReplyActionAppendPostText %></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <sup><font color="red">*</font></sup> <%= captchaLabelWarningText %>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<% end template %>

<% template baseHead(bool javascript) %>
<title><%= pageTitle %></title>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<link id="favicon" rel="shortcut icon" href="/<%= sitePathPrefix %>favicon.ico">
<link rel="stylesheet" type="text/css" href="/<%= sitePathPrefix %>css/<%= style.name %>.css">
<% if ( javascript ) %>
    <script type="text/javascript" src="/<%= sitePathPrefix %>js/3rdparty/picoModal-2.1.0.min.js"></script>
    <script type="text/javascript" src="/<%= sitePathPrefix %>js/3rdparty/sha1.js"></script>
    <script type="text/javascript" src="/<%= sitePathPrefix %>js/base.js"></script>
<% end %>
<% end template %>

<% end view %>
<% end skin %>
