<% c++ #include "controller/base.h" %>
<% skin my_skin %>
<% view base uses Content::Base %>

<% template customHeader() %>
<% if ( !content.customHeaderContent.empty() ) %>
    <header>
        <%= customHeaderContent | raw %>
    </header>
    <br />
<% end %>
<% end template %>

<% template customFooter() %>
<% if ( !content.customFooterContent.empty() ) %>
    <br />
    <footer>
        <%= customFooterContent | raw %>
    </footer>
<% end %>
<% end template %>

<% template settings() %>
<div class="settingsBar">
    <span class="nowrap">
        <form method="post" accept-charset="utf-8" action="/<%= sitePathPrefix %>action/change_locale"
              enctype="multipart/form-data" class="inlineForm">
            <%= localeLabelText %>
            <% if ( content.mode.name != "ascetic" ) %>
                <select id="localeChangeSelect" class="select" onchange="lord.changeLocale();">
            <% else %>
                <select id="localeChangeSelect" name="localeChangeSelect" class="select">
            <% end %>
                <% foreach locale in locales %>
                    <% item %>
                        <% if ( locale.name == content.currentLocale.name ) %>
                            <option value="<%= locale.name %>" selected="true">
                        <% else %>
                            <option value="<%= locale.name %>">
                        <% end %>
                            <%= locale.language %> (<%= locale.country %>)
                        </option>
                    <% end %>
                <% end %>
            </select>
            <% if ( content.mode.name == "ascetic" ) %>
                <input type="submit" name="submit" value="OK" class="button" />
            <% end %>
        </form>
    </span>
    <span class="nowrap">
        <% if ( content.mode.name != "ascetic" ) %>
            <button class="button" onclick="javascript:lord.showSettings();"
                    name="settingsButton"><%= settingsButtonText %></button>
        <% else %>
            <a href="/<%= sitePathPrefix %>settings"
               target="_blank"><button class="button"><%= settingsButtonText %></button></a>
        <% end %>
    </span>
    <span class="nowrap">
        <% if ( content.mode.name != "ascetic" ) %>
            <button class="button" onclick="javascript:lord.showFavorites();"
                    name="favoritesButton"><%= showFavoriteText %></button>
        <% end %>
    </span>
    <span class="nowrap">
        <%= loginLabelText %>
        <% if ( content.loggedIn ) %>
            <% if ( content.mode.name != "ascetic" ) %>
                <button class="button" onclick="javascript:lord.doLogout();"><%= loginButtonText %></button>
            <% else %>
                <form method="post" accept-charset="utf-8" action="/<%= sitePathPrefix %>action/logout"
                      enctype="multipart/form-data" class="inlineForm">
                    <input type="submit" name="submit" value="<%= loginButtonText %>" class="button" />
                </form>
            <% end %>
        <% else %>
            <% if ( content.mode.name != "ascetic" ) %>
                <input id="loginInput" type="password" class="input" name="hashpass"
                       placeholder="<%= loginPlaceholderText %>" />
                <input id="showLoginCheckbox" type="checkbox" onclick="javascript:lord.switchShowLogin();"
                       name="showLogin" title="<%= showPasswordText %>" class="checkbox" />
                <button class="button" onclick="javascript:lord.doLogin();"><%= loginButtonText %></button>
            <% else %>
                <form method="post" accept-charset="utf-8" action="/<%= sitePathPrefix %>action/login"
                      enctype="multipart/form-data" class="inlineForm">
                    <input id="loginInput" type="password" class="input" name="hashpass"
                           placeholder="<%= loginPlaceholderText %>" />
                    <input type="submit" name="submit" value="<%= loginButtonText %>" class="button" />
                </form>
            <% end %>
            <img src="/<%= sitePathPrefix %>img/question.png" title="<%= loginSystemDescriptionText %>">
        <% end %>
        <% if ( !content.loginMessageText.empty() ) %>
            <img src="/<%= sitePathPrefix %>img/<%= loginIconName %>" title="<%= loginMessageText %>">
        <% end %>
    </span>
</div>
<% end template %>

<% template navbar() %>
<div class="navbar">
    <% foreach board in boards %>
        <% item %>
            <% if ( !content.hiddenBoards.count(board.name) ) %>
                <span class="navbarItem navbarItemBoard">[<a href="/<%= sitePathPrefix %><%= board.name %>"
                      title="<%= board.title %>"><%= board.name %></a>] </span>
            <% end %>
        <% end %>
    <% end %>
    <% if ( content.mode.name != "ascetic" ) %>
        <span class="navbarItem">[<a href="/<%= sitePathPrefix %>playlist"
                                     title="<%= toPlaylistPageText %>"><img src="/<%= sitePathPrefix %>img/playlist.png"></a>]</span>
    <% end %>
    <span class="navbarItem">[<a href="/<%= sitePathPrefix %>markup"
                                 title="<%= toMarkupPageText %>"><img src="/<%= sitePathPrefix %>img/markup.png"></a>]</span>
    <span class="navbarItem">[<a href="/<%= sitePathPrefix %>"
                                 title="<%= toHomePageText %>"><img src="/<%= sitePathPrefix %>img/homepage.png"></a>]</span>
    <span class="navbarItem">[<a href="/<%= sitePathPrefix %>frame?path=<%= path %>" target="_top"
                                 title="<%= framedVersionText %>"><img src="/<%= sitePathPrefix %>img/frame.png"></a>]</span>
</div>
<% end template %>

<% template searchAction() %>
<div class="searchAction">
    <form method="get" accept-charset="utf-8" action="/<%= sitePathPrefix %>search"
          enctype="multipart/form-data" class="inlineForm">
        <input id="searchFormInputQuery" type="text" class="input" maxlength="<%= maxSearchQueryLength %>" name="query"
               size="43" onkeypress="lord.searchKeyPress(event);" placeholder="<%= searchInputPlaceholder %>" />
        <select id="searchFormSelectBoard" name="board" class="select">
            <option value="*" selected="true">[*] <%= allBoardsText %></option>
            <%foreach board in boards %>
                <% item %>
                    <option value="<%= board.name %>">[<%= board.name %>] <%= board.title %></option>
                <% end %>
            <% end %>
        </select>
        <% if ( content.mode.name != "ascetic" ) %>
            <button class="button" onclick="javascript:lord.doSearch();"><%= searchButtonText %></button>
        <% else %>
            <input type="submit" class="button" value="<%= searchButtonText %>" />
        <% end %>
    </form>
</div>
<% end template %>

<% template baseTexts() %>
<input type="hidden" id="sitePathPrefix" value="<%= sitePathPrefix %>" />
<input type="hidden" id="siteDomain" value="<%= siteDomain %>" />
<input type="hidden" id="siteProtocol" value="<%= siteProtocol %>" />
<input type="hidden" id="showPasswordText" value="<%= showPasswordText %>" />
<input type="hidden" id="cancelButtonText" value="<%= cancelButtonText %>" />
<input type="hidden" id="closeButtonText" value="<%= closeButtonText %>" />
<input type="hidden" id="confirmButtonText" value="<%= confirmButtonText %>" />
<input type="hidden" id="removeFromFavoritesText" value="<%= removeFromFavoritesText %>" />
<input type="hidden" id="favoriteThreadsText" value="<%= favoriteThreadsText %>" />
<input type="hidden" id="settingsDialogTitle" value="<%= settingsDialogTitle %>" />
<input type="hidden" id="error413Text" value="<%= error413Text %>" />
<div id="settingsDialogTemplate" class="settingsDialog" style="display: none;">
    <fieldset>
        <legend><%= generalSettingsLegendText %></legend>
        <table>
            <tbody>
                <tr>
                    <td>
                        <%= modeLabelText %>
                    </td>
                    <td>
                        <select name="modeChangeSelect" class="select">
                            <% foreach m in modes %>
                                <% item %>
                                    <% if ( m.name == content.mode.name ) %>
                                        <option value="<%= m.name %>" selected="true">
                                    <% else %>
                                        <option value="<%= m.name %>">
                                    <% end %>
                                        <%= m.title %>
                                    </option>
                                <% end %>
                            <% end %>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <%= styleLabelText %>
                    </td>
                    <td>
                        <select name="styleChangeSelect" class="select">
                            <% foreach st in styles %>
                                <% item %>
                                    <% if ( st.name == content.style.name ) %>
                                        <option value="<%= st.name %>" selected="true">
                                    <% else %>
                                        <option value="<%= st.name %>">
                                    <% end %>
                                        <%= st.title %>
                                    </option>
                                <% end %>
                            <% end %>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <%= timeLabelText %>
                    </td>
                    <td>
                        <select name="timeChangeSelect" class="select">
                            <% if ( content.currentTime == "local" ) %>
                                <option value="server"><%= timeServerText %></option>
                                <option value="local" selected="true"><%= timeLocalText %></option>
                            <% else %>
                                <option value="server" selected="true"><%= timeServerText %></option>
                                <option value="local"><%= timeLocalText %></option>
                            <% end %>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <%= captchaLabelText %><sup><font color="red">*</font></sup>
                    </td>
                    <td>
                        <select name="captchaEngineSelect" class="select">
                            <% foreach ce in captchaEngines %>
                                <% item %>
                                    <% if ( ce.id == content.currentCaptchaEngine.id ) %>
                                        <option value="<%= ce.id %>" selected="true">
                                    <% else %>
                                        <option value="<%= ce.id %>">
                                    <% end %>
                                        <%= ce.title %>
                                    </option>
                                <% end %>
                            <% end %>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <%= draftsByDefaultLabelText %>
                    </td>
                    <td>
                        <% if ( content.draftsByDefault ) %>
                            <input type="checkbox" name="draftsByDefault" value="true" checked="true" />
                        <% else %>
                            <input type="checkbox" name="draftsByDefault" value="true" />
                        <% end %>
                    </td>
                </tr>
                <tr>
                    <td>
                        <%= hidePostformRulesLabelText %>
                    </td>
                    <td>
                        <% if ( content.hidePostformRules ) %>
                            <input type="checkbox" name="hidePostformRules" value="true" checked="true" />
                        <% else %>
                            <input type="checkbox" name="hidePostformRules" value="true" />
                        <% end %>
                    </td>
                </tr>
                <tr>
                    <td>
                        <%= hiddenBoardsLabelText %>
                    </td>
                    <td>
                        <div class="scrollAreaH60" name="hiddenBoards">
                            <% foreach board in boards %>
                                <% item %>
                                    <% if ( content.hiddenBoards.count(board.name) ) %>
                                        <input type="checkbox" name="board_<%= board.name %>" value="true"
                                               checked="true">[<%= board.name %>] <%= board.title %></input>
                                    <% else %>
                                        <input type="checkbox" name="board_<%= board.name %>"
                                               value="true">[<%= board.name %>] <%= board.title %></input>
                                    <% end %>
                                    <br />
                                <% end %>
                            <% end %>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <sup><font color="red">*</font></sup> <%= captchaLabelWarningText %>
                    </td>
                </tr>
            </tbody>
        </table>
    </fieldset>
    <fieldset>
        <legend><%= scriptSettingsLegendText %></legend>
        <ul class="tabWidget nowrap">
            <li name="1" class="activated"><a onclick="lord.activateTab(this, 1); return false;"><%= postsTabText %></a></li>
            <li name="2" ><a onclick="lord.activateTab(this, 2); return false;"><%= filesTabText %></a></li>
            <li name="3" ><a onclick="lord.activateTab(this, 3); return false;"><%= postformTabText %></a></li>
            <li name="4" ><a onclick="lord.activateTab(this, 4); return false;"><%= hidingTabText %></a></li>
            <li name="5" ><a onclick="lord.activateTab(this, 5); return false;"><%= otherTabText %></a></li>
        </ul>
        <div>
            <table name="1">
                <tbody>
                    <tr>
                        <td>
                            <%= autoUpdateThreadsByDefaultLabelText %>
                        </td>
                        <td>
                            <input type="checkbox" name="autoUpdateThreadsByDefault" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <%= autoUpdateIntervalLabelText %>
                        </td>
                        <td>
                            <input type="number" min="1" name="autoUpdateInterval" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <%= showAutoUpdateTimerLabelText %>
                        </td>
                        <td>
                            <input type="checkbox" name="showAutoUpdateTimer" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <%= showAutoUpdateDesktopNotificationsLabelText %>
                        </td>
                        <td>
                            <input type="checkbox" name="showAutoUpdateDesktopNotifications" />
                        </td>
                    </tr>
                </tbody>
            </table>
            <table name="2" style="display: none;">
                <tbody>
                    <tr>
                        <td>
                            <%= showLeafButtonsLabelText %>
                        </td>
                        <td>
                            <input type="checkbox" name="showLeafButtons" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <%= leafThroughImagesOnlyLabelText %>
                        </td>
                        <td>
                            <input type="checkbox" name="leafThroughImagesOnly" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <%= imageZoomSensitivityLabelText %>
                        </td>
                        <td>
                            <input type="number" min="1" name="imageZoomSensitivity" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <%= defaultAudioVideoVolumeLabelText %>
                        </td>
                        <td>
                            <input type="number" min="0" max="100" name="defaultAudioVideoVolume" />
                        </td>
                    </tr>
                </tbody>
            </table>
            <table name="3" style="display: none;">
                <tbody>
                    <tr>
                        <td>
                            <%= quickReplyActionLabelText %>
                        </td>
                        <td>
                            <select name="quickReplyActionSelect" class="select">
                                <option value="goto_thread"><%= quickReplyActionGotoThreadText %></option>
                                <option value="do_nothing"><%= quickReplyActionDoNothingText %></option>
                                <option value="append_post"><%= quickReplyActionAppendPostText %></option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <%= checkFileExistenceLabelText %>
                        </td>
                        <td>
                            <input type="checkbox" name="checkFileExistence" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <%= showAttachedFilePreviewLabelText %>
                        </td>
                        <td>
                            <input type="checkbox" name="showAttachedFilePreview" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <%= addToFavoritesOnReplyLabelText %>
                        </td>
                        <td>
                            <input type="checkbox" name="addToFavoritesOnReply" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <%= hidePostformMarkupLabelText %>
                        </td>
                        <td>
                            <input type="checkbox" name="hidePostformMarkup" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <%= stripExifFromJpegLabelText %>
                        </td>
                        <td>
                            <input type="checkbox" name="stripExifFromJpeg" />
                        </td>
                    </tr>
                </tbody>
            </table>
            <table name="4" style="display: none;">
                <tbody>
                    <tr>
                        <td>
                            <%= hideTripcodesLabelText %>
                        </td>
                        <td>
                            <input type="checkbox" name="hideTripcodes" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <%= hideUserNamesLabelText %>
                        </td>
                        <td>
                            <input type="checkbox" name="hideUserNames" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <%= strikeOutHiddenPostLinksLabelText %>
                        </td>
                        <td>
                            <input type="checkbox" name="strikeOutHiddenPostLinks" />
                        </td>
                    </tr>
                </tbody>
            </table>
            <table name="5" style="display: none;">
                <tbody>
                    <tr>
                        <td>
                            <%= showNewPostsLabelText %>
                        </td>
                        <td>
                            <input type="checkbox" name="showNewPosts" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <%= showYoutubeVideoTitleLabelText %>
                        </td>
                        <td>
                            <input type="checkbox" name="showYoutubeVideosTitles" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <%= hotkeysLabelText %>
                        </td>
                        <td class="nowrap">
                            <input type="checkbox" name="hotkeysEnabled" />
                            <button class="button" onclick="lord.editHotkeys();"><%= editHotkeysText %></button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <%= userCssLabelText %>
                        </td>
                        <td class="nowrap">
                            <input type="checkbox" name="userCssEnabled" />
                            <button class="button" onclick="lord.editUserCss();"><%= editUserCssText %></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </fieldset>
</div>
<table id="hotkeysDialogTemplate" style="display: none;">
    <tbody>
        <tr>
            <td>
                <input type="text" readonly="true" name="previousPageImage"
                       onkeypress="lord.assignHotkey(event, this);" />
            </td>
            <td>
                – <%= hotkeyPreviousPageImageLabelText %>
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" readonly="true" name="nextPageImage" onkeypress="lord.assignHotkey(event, this);" />
            </td>
            <td>
                – <%= hotkeyNextPageImageLabelText %>
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" readonly="true" name="previousThreadPost"
                       onkeypress="lord.assignHotkey(event, this);" />
            </td>
            <td>
                – <%= hotkeyPreviousThreadPostLabelText %>
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" readonly="true" name="nextThreadPost"
                       onkeypress="lord.assignHotkey(event, this);" />
            </td>
            <td>
                – <%= hotkeyNextThreadPostLabelText %>
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" readonly="true" name="previousPost" onkeypress="lord.assignHotkey(event, this);" />
            </td>
            <td>
                – <%= hotkeyPreviousPostLabelText %>
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" readonly="true" name="nextPost" onkeypress="lord.assignHotkey(event, this);" />
            </td>
            <td>
                – <%= hotkeyNextPostLabelText %>
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" readonly="true" name="hidePost" onkeypress="lord.assignHotkey(event, this);" />
            </td>
            <td>
                – <%= hotkeyHidePostLabelText %>
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" readonly="true" name="goToThread" onkeypress="lord.assignHotkey(event, this);" />
            </td>
            <td>
                – <%= hotkeyGoToThreadLabelText %>
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" readonly="true" name="expandThread" onkeypress="lord.assignHotkey(event, this);" />
            </td>
            <td>
                – <%= hotkeyExpandThreadLabelText %>
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" readonly="true" name="expandImage" onkeypress="lord.assignHotkey(event, this);" />
            </td>
            <td>
                – <%= hotkeyExpandImageLabelText %>
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" readonly="true" name="quickReply" onkeypress="lord.assignHotkey(event, this);" />
            </td>
            <td>
                – <%= hotkeyQuickReplyLabelText %>
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" readonly="true" name="submitReply" onkeypress="lord.assignHotkey(event, this);" />
            </td>
            <td>
                – <%= hotkeySubmitReplyLabelText %>
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" readonly="true" name="showFavorites" onkeypress="lord.assignHotkey(event, this);" />
            </td>
            <td>
                – <%= hotkeyShowFavoritesLabelText %>
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" readonly="true" name="showSettings" onkeypress="lord.assignHotkey(event, this);" />
            </td>
            <td>
                – <%= hotkeyShowSettingsLabelText %>
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" readonly="true" name="updateThread" onkeypress="lord.assignHotkey(event, this);" />
            </td>
            <td>
                – <%= hotkeyUpdateThreadLabelText %>
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" readonly="true" name="markupBold" onkeypress="lord.assignHotkey(event, this);" />
            </td>
            <td>
                – <%= hotkeyMarkupBoldLabelText %>
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" readonly="true" name="markupItalics" onkeypress="lord.assignHotkey(event, this);" />
            </td>
            <td>
                – <%= hotkeyMarkupItalicsLabelText %>
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" readonly="true" name="markupStrikedOut" onkeypress="lord.assignHotkey(event, this);" />
            </td>
            <td>
                – <%= hotkeyMarkupStrikedOutLabelText %>
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" readonly="true" name="markupUnderlined" onkeypress="lord.assignHotkey(event, this);" />
            </td>
            <td>
                – <%= hotkeyMarkupUnderlinedLabelText %>
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" readonly="true" name="markupSpoiler" onkeypress="lord.assignHotkey(event, this);" />
            </td>
            <td>
                – <%= hotkeyMarkupSpoilerLabelText %>
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" readonly="true" name="markupQuotation" onkeypress="lord.assignHotkey(event, this);" />
            </td>
            <td>
                – <%= hotkeyMarkupQutationLabelText %>
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" readonly="true" name="markupCode" onkeypress="lord.assignHotkey(event, this);" />
            </td>
            <td>
                – <%= hotkeyMarkupCodeLabelText %>
            </td>
        </tr>
    </tbody>
</table>
<% end template %>

<% template baseHead(bool javascript) %>
<title><%= pageTitle %></title>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<% if ( "mobile" == content.deviceType ) %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<% end %>
<link id="favicon" rel="shortcut icon" href="/<%= sitePathPrefix %>favicon.ico">
<link rel="stylesheet" type="text/css" href="/<%= sitePathPrefix %>css/<%= style.name %>.css">
<% if ( javascript ) %>
    <script type="text/javascript" src="/<%= sitePathPrefix %>js/api.js"></script>
    <% if ( content.mode.name != "ascetic" ) %>
        <script type="text/javascript" src="/<%= sitePathPrefix %>js/3rdparty/picoModal-2.1.0.min.js"></script>
        <script type="text/javascript" src="/<%= sitePathPrefix %>js/3rdparty/sha1.js"></script>
        <script type="text/javascript" src="/<%= sitePathPrefix %>js/base.js"></script>
    <% end %>
<% end %>
<% end template %>

<% end view %>
<% end skin %>
