<% c++ #include "controller/baseboard.h" %>
<% c++ #include "controller/board.h" %>
<% c++ #include "controller/thread.h" %>
<% skin my_skin %>
<% view base_board uses Content::BaseBoard extends base %>

<% template banner() %>
<% if ( !content.bannerFileName.empty() ) %>
    <div class="banner">
        <img src="/<%= sitePathPrefix %>img/banner/<%= bannerFileName %>">
    </div>
<% end %>
<% end template %>

<% template captchaField(std::string position) %>
<% if ( "Top" == position ) %>
    <div id="googleCaptcha" class="g-recaptcha" data-sitekey="<%= captchaKey %>"></div>
<% end %>
<% end template %>

<% template navigationButton(std::string target) %>
<% if ( "top" == target ) %>
    <a class="navigationButton navigationButtonBottom" title="<%= toTopText %>"
       href="#top"><img src="/<%= sitePathPrefix %>img/up.png"></a>
<% elif ( "bottom" == target ) %>
    <a class="navigationButton navigationButtonTop" title="<%= toBottomText %>"
       href="#bottom"><img src="/<%= sitePathPrefix %>img/down.png"></a>
<% end %>
<% end template %>

<% template customPostFormField(std::string) %>
<% end template %>

<% template createAction(std::string position) %>
<% if ( content.postingEnabled ) %>
    <div class="createAction">
        <input type="hidden" id="hidePostFormText" value="<%= hidePostFormText %>" />
        <input type="hidden" id="showPostFormText" value="<%= showPostFormText %>" />
        <div>
            [<a id="showHidePostFormButton<%= position %>" href="javascript:showHidePostForm('<%= position %>');">
                <%= showPostFormText %>
            </a>]
        </div>
        <form id="postForm<%= position %>" class="postFormInvisible" method="post" accept-charset="utf-8"
              action="/<%= sitePathPrefix %>action/<%= action %>" enctype="multipart/form-data"
              target="kostyleeque" onsubmit="submitted(this);">
            <input type="hidden" id="postFormInputBoard<%= position %>" value="<%= currentBoard.name %>"
                   name="board" />
            <% if ( content.currentThread > 0 ) %>
                <input type="hidden" id="postFormInputThread<%= position %>" value="<%= currentThread %>"
                       name="thread" />
            <% end %>
            <table class="postFormTable">
                <tbody>
                    <tr>
                        <td class="postformLabel">
                            <b><%= postFormLabelEmail %></b>
                        </td>
                        <td class="postformField">
                            <input id="postFormInputEmail<%= position %>" type="text" maxlength="<%= maxEmailLength %>"
                                   name="email" size="30" />
                            <input type="submit" name="submit" value="<%= postFormButtonSubmit %>" />
                        </td>
                    </tr>
                    <tr>
                        <td class="postformLabel">
                            <b><%= postFormLabelName %></b>
                        </td>
                        <td class="postformField">
                            <input type="text" maxlength="<%= maxNameLength %>" id="postFormInputName<%= position %>"
                                   name="name" size="43" />
                        </td>
                    </tr>
                    <tr>
                        <td class="postformLabel">
                            <b><%= postFormLabelSubject %></b>
                        </td>
                        <td class="postformField">
                            <input type="text" maxlength="<%= maxSubjectLength %>"
                                   id="postFormInputSubject<%= position %>" name="subject" size="43" />
                        </td>
                    </tr>
                    <% include customPostFormField(position) %>
                    <tr>
                        <td class="postformLabel">
                            <b><%= postFormInputText %></b>
                        </td>
                        <td class="postformField">
                            <textarea name="text" id="postFormInputText<%= position %>" rows="10" cols="43"
                                      placeholder="<%= postFormInputTextPlaceholder %>"
                                      class="postFormTextarea"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td class="postformLabel">
                            <b><%= postFormInputFile %></b>
                        </td>
                        <td class="postformField">
                            <div class="postformFile" onclick="browseFile(event, this);">
                                <input type="file" name="file" onchange="fileSelected(this);" class="postformFileInput"
                                       accept="<%= supportedFileTypes %>" />
                                <a href="javascript:void(0);" style="display: none;" onclick="removeFile(this);"
                                   class="postformFileRemoveButton">
                                    <img src="/<%= sitePathPrefix %>img/delete.png" title="<%= removeFileText %>"></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="postformLabel">
                            <b><%= postFormLabelPassword %></b>
                        </td>
                        <td class="postformField">
                            <input type="password" maxlength="<%= maxPasswordLength %>"
                                   id="postFormInputPassword<%= position %>" name="password" size="43" />
                        </td>
                    </tr>
                    <tr>
                        <td class="postformLabel">
                            <b><%= postFormLabelCaptcha %></b>
                        </td>
                        <td id="googleCaptcha<%= position %>" class="postformField">
                            <% if ( content.captchaEnabled ) %>
                                <% include captchaField(position) %>
                            <% else %>
                                <% if ( content.captchaQuota > 0 ) %>
                                    <span class="noCaptchaText"><%= noCaptchaText %>. <%= captchaQuotaText %>
                                        <%= captchaQuota %></span>
                                <% else %>
                                    <span class="noCaptchaText"><%= noCaptchaText %></span>
                                <% end %>
                            <% end %>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
<% end %>
<% end template %>

<% template postFile(Content::File file) %>
<td class="postFile">
    <div class="postFileName">
        <a href="/<%= sitePathPrefix %><%= currentBoard.name %>/<%= file.sourceName %>"><%= file.sourceName %></a>
    </div>
    <div class="postFileSize">
        (<%= file.size %>)
    </div>
    <div>
        <a href="/<%= sitePathPrefix %><%= currentBoard.name %>/<%= file.sourceName %>"
           onclick="return showImage('/<%= sitePathPrefix %><%= currentBoard.name %>/<%= file.sourceName %>', '<%= file.type %>', <%= file.sizeX %>, <%= file.sizeY %>);">
            <% if ( "webm" == file.thumbName ) %>
                <% if ( file.thumbSizeX > 0 && file.thumbSizeY > 0 ) %>
                    <img src="/<%= sitePathPrefix %>img/webm_logo.png" width="<%= file.thumbSizeX %>"
                         height="<%= file.thumbSizeY %>">
                <% else %>
                    <img src="/<%= sitePathPrefix %>img/webm_logo.png">
                <% end %>
            <% else %>
                <% if ( file.thumbSizeX > 0 && file.thumbSizeY > 0 ) %>
                    <img src="/<%= sitePathPrefix %><%= currentBoard.name %>/<%= file.thumbName %>"
                         width="<%= file.thumbSizeX %>" height="<%= file.thumbSizeY %>">
                <% else %>
                    <img src="/<%= sitePathPrefix %><%= currentBoard.name %>/<%= file.thumbName %>">
                <% end %>
            <% end %>
        </a>
    </div>
</td>
<% end template %>

<% template post(Content::Post post, Content::Board::ThreadPointer thread) %>
<% if ( post.number == post.threadNumber ) %>
    <% if ( post.hidden ) %>
        <div id="post<%= post.number %>" class="opPost hiddenPost">
    <% else %>
        <div id="post<%= post.number %>" class="opPost">
    <% end %>
<% else %>
    <% if ( post.hidden ) %>
        <div id="post<%= post.number %>" class="post hiddenPost">
    <% else %>
        <div id="post<%= post.number %>" class="post">
    <% end %>
<% end %>
    <div class="postHeader">
        <% if ( !thread ) %>
            <a id="<%= post.number %>"></a>
        <% end %>
        <% if ( post.number == post.threadNumber ) %>
            <% if ( (thread && thread->fixed) || (!thread && dynamic_cast<Content::Thread *>(&content)->fixed) ) %>
                <img src="/<%= sitePathPrefix %>img/fixed.png" title="<%= fixedText %>">
            <% end %>
            <% if ( (thread && thread->closed) || (!thread && dynamic_cast<Content::Thread *>(&content)->closed) ) %>
                <img src="/<%= sitePathPrefix %>img/closed.png" title="<%= closedText %>">
            <% end %>
        <% end %>
        <% if ( post.subjectIsRaw ) %>
            <%= post.subject | raw %>
        <% else %>
            <b><%= post.subject %></b>
        <% end %>
        <% if ( post.showRegistered && post.showTripcode ) %>
            <img src="/<%= sitePathPrefix %>img/registered.png" title="<%= registeredText %>">
        <% end %>
        <% if ( !post.email.empty() ) %>
            <a href="mailto:<%= post.email %>"><%= post.nameRaw %></a>
        <% else %>
            <%= post.name | raw %>
        <% end %>
        <% if ( post.showRegistered && !post.tripcode.empty() && post.showTripcode ) %>
            <span class="tripcode"><%= post.tripcode %></span>
        <% end %>
        <% if ( content.showWhois && !post.flagName.empty() ) %>
            <% if ( !post.cityName.empty() ) %>
                <img src="/<%= sitePathPrefix %>img/flag/<%= post.flagName %>"
                     title="<%= post.countryName %>: <%= post.cityName %>">
            <% else %>
                <img src="/<%= sitePathPrefix %>img/flag/<%= post.flagName %>" title="<%= post.countryName %>">
            <% end %>
        <% end %>
        <%= post.dateTime %>
        <% if ( content.postingEnabled ) %>
            <% if ( thread ) %>
                <% if ( content.moder ) %>
                    #<a href="/<%= sitePathPrefix %><%= currentBoard.name %>/thread/<%= thread->opPost.number %>.html#i<%= post.number %>"
                        title="<%= post.ip %>"><%= post.number %></a>
                <% else %>
                    #<a href="/<%= sitePathPrefix %><%= currentBoard.name %>/thread/<%= thread->opPost.number %>.html#i<%= post.number %>"><%= post.number %></a>
                <% end %>
            <% else %>
                <% if ( content.moder ) %>
                    #<a href="javascript:insertPostNumber(<%= post.number %>);"
                        title="<%= post.ip %>"><%= post.number %></a>
                <% else %>
                    #<a href="javascript:insertPostNumber(<%= post.number %>);"><%= post.number %></a>
                <% end %>
            <% end %>
        <% else %>
            <% if ( thread ) %>
                <% if ( content.moder ) %>
                    #<a href="/<%= sitePathPrefix %><%= currentBoard.name %>/thread/<%= thread->opPost.number %>.html#<%= post.number %>"
                        title="<%= post.ip %>"><%= post.number %></a>
                <% else %>
                    #<a href="/<%= sitePathPrefix %><%= currentBoard.name %>/thread/<%= thread->opPost.number %>.html#<%= post.number %>"><%= post.number %></a>
                <% end %>
            <% else %>
                <% if ( content.moder ) %>
                    #<a href="#<%= post.number %>" title="<%= post.ip %>"><%= post.number %></a>
                <% else %>
                    #<a href="#<%= post.number %>"><%= post.number %></a>
                <% end %>
            <% end %>
        <% end %>
        <% if ( content.moder ) %>
            <a name="editButton" href="javascript:editPost('<%= currentBoard.name %>', '<%= post.number %>');">
                <img src="/<%= sitePathPrefix %>img/edit.png" title="<%= editPostText %>" /></a>
        <% end %>
        <% if ( content.moder && post.number == post.threadNumber ) %>
            <% if ( (thread && thread->fixed) || (!thread && dynamic_cast<Content::Thread *>(&content)->fixed) ) %>
                <a name="fixButton"
                   href="javascript:setThreadFixed('<%= currentBoard.name %>', '<%= post.number %>', false);">
                    <img src="/<%= sitePathPrefix %>img/unfix.png" title="<%= unfixThreadText %>" /></a>
            <% else %>
                <a name="fixButton"
                   href="javascript:setThreadFixed('<%= currentBoard.name %>', '<%= post.number %>', true);">
                    <img src="/<%= sitePathPrefix %>img/fixed.png" title="<%= fixThreadText %>" /></a>
            <% end %>
            <% if ( (thread && thread->closed) || (!thread && dynamic_cast<Content::Thread *>(&content)->closed) ) %>
                <a name="closeButton"
                   href="javascript:setThreadOpened('<%= currentBoard.name %>', '<%= post.number %>', true);">
                    <img src="/<%= sitePathPrefix %>img/open.png" title="<%= openThreadText %>" /></a>
            <% else %>
                <a name="closeButton"
                   href="javascript:setThreadOpened('<%= currentBoard.name %>', '<%= post.number %>', false);">
                    <img src="/<%= sitePathPrefix %>img/closed.png" title="<%= closeThreadText %>" /></a>
            <% end %>
        <% end %>
        <% if ( content.moder ) %>
            <a name="banButton" href="javascript:banUser('<%= currentBoard.name %>', '<%= post.number %>');">
                <img src="/<%= sitePathPrefix %>img/ban.png" title="<%= banUserText %>" /></a>
        <% end %>
        <a href="javascript:complain();">
            <img src="/<%= sitePathPrefix %>img/complain.png" title="<%= complainText %>" /></a>
        <a name="deleteButton" href="javascript:deletePost('<%= currentBoard.name %>', '<%= post.number %>', true);">
        <% if ( post.number == post.threadNumber ) %>
            <img src="/<%= sitePathPrefix %>img/delete.png" title="<%= deleteThreadText %>" /></a>
        <% else %>
            <img src="/<%= sitePathPrefix %>img/delete.png" title="<%= deletePostText %>" /></a>
        <% end %>
        <% if ( post.number == post.threadNumber ) %>
            <% if ( (thread && thread->hidden) || (!thread && dynamic_cast<Content::Thread *>(&content)->hidden) ) %>
                <a name="hideButton" id="hidePost<%= post.number %>"
                   href="javascript:setThreadHidden('<%= currentBoard.name %>', '<%= post.number %>', false);">
                    <img src="/<%= sitePathPrefix %>img/hide.png" title="<%= showHidePostText %>" /></a>
            <% else %>
                <a name="hideButton" id="hidePost<%= post.number %>"
                   href="javascript:setThreadHidden('<%= currentBoard.name %>', '<%= post.number %>', true);">
                    <img src="/<%= sitePathPrefix %>img/hide.png" title="<%= showHidePostText %>" /></a>
            <% end %>
        <% else %>
            <% if ( post.hidden ) %>
                <a name="hideButton" id="hidePost<%= post.number %>"
                   href="javascript:setPostHidden('<%= currentBoard.name %>', '<%= post.number %>', false);">
                    <img src="/<%= sitePathPrefix %>img/hide.png" title="<%= showHidePostText %>" /></a>
            <% else %>
                <a name="hideButton" id="hidePost<%= post.number %>"
                   href="javascript:setPostHidden('<%= currentBoard.name %>', '<%= post.number %>', true);">
                    <img src="/<%= sitePathPrefix %>img/hide.png" title="<%= showHidePostText %>" /></a>
            <% end %>
        <% end %>
        <% if ( thread && post.number == post.threadNumber ) %>
            [<a href="/<%= sitePathPrefix %><%= currentBoard.name %>/thread/<%= post.number %>.html"><%= toThread %></a>]
            <% if ( thread->postLimitReached() ) %>
                <span name="postLimit" class="postLimitReached"><%= postLimitReachedText %></span>
            <% elif ( thread->bumpLimitReached() ) %>
                <span name="bumpLimit" class="bumpLimitReached"><%= bumpLimitReachedText %></span>
            <% end %>
        <% end %>
    </div>
    <table class="threadPost">
        <tbody>
            <tr>
                <%foreach file in post.files %>
                    <% item %>
                        <% include postFile(file) %>
                    <% end %>
                <% end %>
                <input id="post<%= post.number %>RawText" type="hidden" value="<%= post.rawPostText %>" />
                <input name="email" type="hidden" value="<%= post.email %>" />
                <input name="name" type="hidden" value="<%= post.rawName %>" />
                <input name="subject" type="hidden" value="<%= post.rawSubject %>" />
                <% if ( post.files.size() < 2 ) %>
                    <td class="postText">
                        <blockquote id="post<%= post.number %>Text"><%= post.text | raw %></blockquote>
                    </td>
                <% else %>
                    <td class="shrink"></td>
                <% end %>
            </tr>
            <% if ( post.files.size() >= 2 ) %>
                <tr>
                    <% c++ out() << "<td colspan=\"" << (post.files.size() + 2) << "\" class=\"postText\">"; %>
                        <blockquote id="post<%= post.number %>Text"><%= post.text | raw %></blockquote>
                    </td>
                </tr>
            <% end %>
            <% if ( post.bannedFor ) %>
                <tr>
                    <% c++ out() << "<td colspan=\"" << (post.files.size() + 2) << "\">"; %>
                        <span class="bannedFor"><%= bannedForText %></span>
                    <td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>
<% end template %>

<% template boardTexts() %>
<% if ( content.moder ) %>
    <input type="hidden" id="moder" value="true" />
<% else %>
    <input type="hidden" id="moder" value="false" />
<% end %>
<% if ( content.postingEnabled ) %>
    <input type="hidden" id="postingEnabled" value="true" />
<% else %>
    <input type="hidden" id="postingEnabled" value="false" />
<% end %>
<input type="hidden" id="maxFileCount" value="<%= maxFileCount %>" />
<input type="hidden" id="currentBoardName" value="<%= currentBoard.name %>" />
<input type="hidden" id="currentBoardTitle" value="<%= currentBoard.title %>" />
<input type="hidden" id="editPostText" value="<%= editPostText %>" />
<input type="hidden" id="showHidePostText" value="<%= showHidePostText %>" />
<input type="hidden" id="banUserText" value="<%= banUserText %>" />
<input type="hidden" id="boardLabelText" value="<%= boardLabelText %>" />
<input type="hidden" id="banLevelLabelText" value="<%= banLevelLabelText %>" />
<input type="hidden" id="banReasonLabelText" value="<%= banReasonLabelText %>" />
<input type="hidden" id="banExpiresLabelText" value="<%= banExpiresLabelText %>" />
<input type="hidden" id="enterPasswordText" value="<%= enterPasswordText %>" />
<input type="hidden" id="enterPasswordTitle" value="<%= enterPasswordTitle %>" />
<input type="hidden" id="ajaxErrorText" value="<%= ajaxErrorText %>" />
<input type="hidden" id="notLoggedInText" value="<%= notLoggedInText %>" />
<input type="hidden" id="complainMessage" value="<%= complainMessage %>" />
<select id="availableBoardsSelect" class="select" style="display: none;">
    <%foreach board in availableBoards %>
        <% item %>
            <% if ( board.name == content.currentBoard.name ) %>
                <option value="<%= board.name %>" selected="true">[<%= board.name %>] <%= board.title %></option>
            <% else %>
                <option value="<%= board.name %>">[<%= board.name %>] <%= board.title %></option>
            <% end %>
        <% end %>
    <% end %>
</select>
<select id="banLevelsSelect" class="select" style="display: none;">
    <%foreach level in banLevels %>
        <% item %>
            <% if ( 1 == level.level ) %>
                <option value="<%= level.level %>" selected="true"><%= level.description %></option>
            <% else %>
                <option value="<%= level.level %>"><%= level.description %></option>
            <% end %>
        <% end %>
    <% end %>
</select>
<div id="postTemplate" class="post" style="display: none;">
    <div class="postHeader">
        <img name="fixed" src="/<%= sitePathPrefix %>img/fixed.png" title="<%= fixedText %>" style="display: none;">
        <img name="closed" src="/<%= sitePathPrefix %>img/closed.png" title="<%= closedText %>" style="display: none;">
        <b name="subject"></b>
        <img name="registered" src="/<%= sitePathPrefix %>img/registered.png" title="<%= registeredText %>"
             style="display: none;">
        <span name="name"></span>
        <span name="tripcode" class="tripcode" style="display: none;"></span>
        <img name="whois" src="/<%= sitePathPrefix %>img/flag/%flagName%" style="display: none;">
        <span name="dateTime"></span>
        #<a name="number"></a>
        <span name="permanent" style="display: none;">
            <span name="moder" style="display: none;">
                <a name="editButton" href="javascript:editPost('<%= currentBoard.name %>', '%postNumber%');">
                    <img src="/<%= sitePathPrefix %>img/edit.png" title="<%= editPostText %>" /></a>
                <a name="fixButton"
                   href="javascript:setThreadFixed('<%= currentBoard.name %>', '%postNumber%', true);">
                    <img src="/<%= sitePathPrefix %>img/fixed.png" title="<%= fixThreadText %>" /></a>
                <a name="unfixButton"
                   href="javascript:setThreadFixed('<%= currentBoard.name %>', '%postNumber%', false);">
                    <img src="/<%= sitePathPrefix %>img/unfix.png" title="<%= unfixThreadText %>" /></a>
                <a name="closeButton"
                   href="javascript:setThreadOpened('<%= currentBoard.name %>', '%postNumber%', false);">
                    <img src="/<%= sitePathPrefix %>img/closed.png" title="<%= closeThreadText %>" /></a>
                <a name="openButton"
                   href="javascript:setThreadOpened('<%= currentBoard.name %>', '%postNumber%', true);">
                    <img src="/<%= sitePathPrefix %>img/open.png" title="<%= openThreadText %>" /></a>
                <a name="banButton" href="javascript:banUser('<%= currentBoard.name %>', '%postNumber%');">
                    <img src="/<%= sitePathPrefix %>img/ban.png" title="<%= banUserText %>" /></a>
                <input id="post%postNumber%RawText" name="rawText" type="hidden" value="" />
                <input name="email" type="hidden" value="%email%" />
                <input name="name" type="hidden" value="%rawName%" />
                <input name="subject" type="hidden" value="%rawSubject%" />
            </span>
            <a href="javascript:complain();">
                <img src="/<%= sitePathPrefix %>img/complain.png" title="<%= complainText %>" /></a>
            <a name="deleteButton" href="javascript:deletePost('<%= currentBoard.name %>', '%postNumber%', true);">
                <img src="/<%= sitePathPrefix %>img/delete.png" title="<%= deletePostText %>" /></a>
            <a id="hidePost%postNumber%" name="hideButton"
               href="javascript:setPostHidden('<%= currentBoard.name %>', '%postNumber%', %hide%);">
                <img src="/<%= sitePathPrefix %>img/hide.png" title="<%= showHidePostText %>" /></a>
            <span name="toThread" style="display: none;">
                [<a name="toThreadLink"
                    href="/<%= sitePathPrefix %><%= currentBoard.name %>/thread/%postNumber%.html"><%= toThread %></a>]
            </span>
        </span>
    </div>
    <table class="threadPost">
        <tbody>
            <tr name="files">
                <td name="oneFileTd" class="postText">
                    <blockquote name="textOneFile"></blockquote>
                </td>
            </tr>
            <tr name="manyFilesTr">
                <td name="manyFilesTd" class="postText">
                    <blockquote name="textManyFiles"></blockquote>
                </td>
            <tr>
            <tr>
                <td name="bannedForTd" colspan="2">
                    <span name="bannedFor" class="bannedFor" style="display: none;"><%= bannedForText %></span>
                <td>
            </tr>
        </tbody>
    </table>
</div>
<table id="editPostTemplate" class="postFormTable" style="display: none;">
    <tbody>
        <tr>
            <td class="postformLabel">
                <b><%= postFormLabelEmail %></b>
            </td>
            <td class="postformField">
                <input type="text" maxlength="<%= maxEmailLength %>" name="email" size="43" />
            </td>
        </tr>
        <tr>
            <td class="postformLabel">
                <b><%= postFormLabelName %></b>
            </td>
            <td class="postformField">
                <input type="text" maxlength="<%= maxNameLength %>" name="name" size="43" />
            </td>
        </tr>
        <tr>
            <td class="postformLabel">
                <b><%= postFormLabelSubject %></b>
            </td>
            <td class="postformField">
                <input type="text" maxlength="<%= maxSubjectLength %>" name="subject" size="43" />
            </td>
        </tr>
        <tr>
            <td class="postformLabel">
                <b><%= postFormInputText %></b>
            </td>
            <td class="postformField">
                <textarea name="text" rows="10" cols="43" placeholder="<%= postFormInputTextPlaceholder %>"
                          class="postFormTextarea"></textarea>
            </td>
        </tr>
    </tbody>
</table>
<% end template %>

<% template bannerHead() %>
<link rel="stylesheet" type="text/css" href="/<%= sitePathPrefix %>css/banner.css">
<% end template %>

<% template createActionHead() %>
<link rel="stylesheet" type="text/css" href="/<%= sitePathPrefix %>css/create_action.css">
<script type="text/javascript" src="/<%= sitePathPrefix %>js/create_action.js"></script>
<% if ( content.captchaEnabled ) %>
    <script type="text/javascript" src="https://www.google.com/recaptcha/api.js"></script>
<% end %>
<% end template %>

<% template boardHead() %>
<link rel="stylesheet" type="text/css" href="/<%= sitePathPrefix %>css/post.css">
<script type="text/javascript" src="/<%= sitePathPrefix %>js/post.js"></script>
<% end %>

<% end view %>
<% end skin %>
