<% c++ #include "controller/baseboard.h" %>
<% skin my_skin %>
<% view base_board uses Content::BaseBoard extends base %>

<% template banner() %>
<% if ( !content.bannerFileName.empty() ) %>
    <div class="banner">
        <img src="/<%= sitePathPrefix %>img/banner/<%= bannerFileName %>">
    </div>
<% end %>
<% end template %>

<% template captchaField(std::string position) %>
<% if ( "Top" == position ) %>
    <div id="googleCaptcha" class="g-recaptcha" data-sitekey="<%= captchaKey %>"></div>
<% end %>
<% end template %>

<% template navigationButton(std::string target) %>
<% if ( "top" == target ) %>
    <a class="navigationButton navigationButtonBottom" title="<%= toTopText %>"
       href="#top"><img src="/<%= sitePathPrefix %>img/up.png"></a>
<% elif ( "bottom" == target ) %>
    <a class="navigationButton navigationButtonTop" title="<%= toBottomText %>"
       href="#bottom"><img src="/<%= sitePathPrefix %>img/down.png"></a>
<% end %>
<% end template %>

<% template customPostFormField(std::string) %>
<% end template %>

<% template createAction(std::string position) %>
<% if ( content.postingEnabled ) %>
    <div class="createAction">
        <input type="hidden" id="hidePostFormText" value="<%= hidePostFormText %>" />
        <input type="hidden" id="showPostFormText" value="<%= showPostFormText %>" />
        <div>
            [<a id="showHidePostFormButton<%= position %>" href="javascript:showHidePostForm('<%= position %>');">
                <%= showPostFormText %>
            </a>]
        </div>
        <form id="postForm<%= position %>" class="postFormInvisible" method="post" accept-charset="utf-8"
              action="/<%= sitePathPrefix %>action/<%= action %>" enctype="multipart/form-data">
            <input type="hidden" id="postFormInputBoard<%= position %>" value="<%= currentBoard.name %>"
                   name="board" />
            <% if ( content.currentThread > 0 ) %>
                <input type="hidden" id="postFormInputThread<%= position %>" value="<%= currentThread %>"
                       name="thread" />
            <% end %>
            <table class="postFormTable">
                <tbody>
                    <tr>
                        <td class="postformLabel">
                            <b><%= postFormLabelEmail %></b>
                        </td>
                        <td class="postformField">
                            <input id="postFormInputEmail<%= position %>" type="text" maxlength="<%= maxEmailLength %>"
                                   name="email" size="30" />
                            <input type="submit" value="<%= postFormButtonSubmit %>" />
                        </td>
                    </tr>
                    <tr>
                        <td class="postformLabel">
                            <b><%= postFormLabelName %></b>
                        </td>
                        <td class="postformField">
                            <input type="text" maxlength="<%= maxNameLength %>" id="postFormInputName<%= position %>"
                                   name="name" size="43" />
                        </td>
                    </tr>
                    <tr>
                        <td class="postformLabel">
                            <b><%= postFormLabelSubject %></b>
                        </td>
                        <td class="postformField">
                            <input type="text" maxlength="<%= maxSubjectLength %>"
                                   id="postFormInputSubject<%= position %>" name="subject" size="43" />
                        </td>
                    </tr>
                    <% include customPostFormField(position) %>
                    <tr>
                        <td class="postformLabel">
                            <b><%= postFormInputText %></b>
                        </td>
                        <td class="postformField">
                            <textarea name="text" id="postFormInputText<%= position %>" rows="10" cols="43"
                                      placeholder="<%= postFormInputTextPlaceholder %>"
                                      class="postFormTextarea"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td class="postformLabel">
                            <b><%= postFormInputFile %></b>
                        </td>
                        <td class="postformField">
                            <input type="file" name="image" id="postFormInputFile<%= position %>"
                                   accept="<%= supportedFileTypes %>" />
                        </td>
                    </tr>
                    <tr>
                        <td class="postformLabel">
                            <b><%= postFormLabelPassword %></b>
                        </td>
                        <td class="postformField">
                            <input type="password" maxlength="<%= maxPasswordLength %>"
                                   id="postFormInputPassword<%= position %>" name="password" size="43" />
                        </td>
                    </tr>
                    <tr>
                        <td class="postformLabel">
                            <b><%= postFormLabelCaptcha %></b>
                        </td>
                        <td id="googleCaptcha<%= position %>" class="postformField">
                            <% if ( content.captchaEnabled ) %>
                                <% include captchaField(position) %>
                            <% else %>
                                <% if ( content.captchaQuota > 0 ) %>
                                    <span class="noCaptchaText"><%= noCaptchaText %>. <%= captchaQuotaText %>
                                        <%= captchaQuota %></span>
                                <% else %>
                                    <span class="noCaptchaText"><%= noCaptchaText %></span>
                                <% end %>
                            <% end %>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
<% end %>
<% end template %>

<% template postFile(Content::BaseBoard::File file) %>
<td class="postFile">
    <div class="postFileName">
        <a href="/<%= sitePathPrefix %><%= currentBoard.name %>/<%= file.sourceName %>"><%= file.sourceName %></a>
    </div>
    <div class="postFileSize">
        (<%= file.size %>)
    </div>
    <div>
        <a href="/<%= sitePathPrefix %><%= currentBoard.name %>/<%= file.sourceName %>">
            <% if ( "webm" == file.thumbName ) %>
                <% if ( file.sizeX > 0 && file.sizeY > 0 ) %>
                    <img src="/<%= sitePathPrefix %>img/webm_logo.png" width="<%= file.sizeX %>"
                         height="<%= file.sizeY %>">
                <% else %>
                    <img src="/<%= sitePathPrefix %>img/webm_logo.png">
                <% end %>
            <% else %>
                <% if ( file.sizeX > 0 && file.sizeY > 0 ) %>
                    <img src="/<%= sitePathPrefix %><%= currentBoard.name %>/<%= file.thumbName %>"
                         width="<%= file.sizeX %>" height="<%= file.sizeY %>">
                <% else %>
                    <img src="/<%= sitePathPrefix %><%= currentBoard.name %>/<%= file.thumbName %>">
                <% end %>
            <% end %>
        </a>
    </div>
</td>
<% end template %>

<% template boardTexts() %>
<% if ( content.moder ) %>
    <input type="hidden" id="moder" value="true" />
<% else %>
    <input type="hidden" id="moder" value="false" />
<% end %>
<% if ( content.postingEnabled ) %>
    <input type="hidden" id="postingEnabled" value="true" />
<% else %>
    <input type="hidden" id="postingEnabled" value="false" />
<% end %>
<input type="hidden" id="currentBoardName" value="<%= currentBoard.name %>" />
<input type="hidden" id="currentBoardTitle" value="<%= currentBoard.title %>" />
<input type="hidden" id="editPostText" value="<%= editPostText %>" />
<input type="hidden" id="showHidePostText" value="<%= showHidePostText %>" />
<input type="hidden" id="banUserText" value="<%= banUserText %>" />
<input type="hidden" id="boardLabelText" value="<%= boardLabelText %>" />
<input type="hidden" id="banLevelLabelText" value="<%= banLevelLabelText %>" />
<input type="hidden" id="banReasonLabelText" value="<%= banReasonLabelText %>" />
<input type="hidden" id="banExpiresLabelText" value="<%= banExpiresLabelText %>" />
<input type="hidden" id="enterPasswordText" value="<%= enterPasswordText %>" />
<input type="hidden" id="enterPasswordTitle" value="<%= enterPasswordTitle %>" />
<input type="hidden" id="ajaxErrorText" value="<%= ajaxErrorText %>" />
<input type="hidden" id="notLoggedInText" value="<%= notLoggedInText %>" />
<select id="availableBoardsSelect" class="select" style="display: none;">
    <%foreach board in availableBoards %>
        <% item %>
            <% if ( board.name == content.currentBoard.name ) %>
                <option value="<%= board.name %>" selected="true">[<%= board.name %>] <%= board.title %></option>
            <% else %>
                <option value="<%= board.name %>">[<%= board.name %>] <%= board.title %></option>
            <% end %>
        <% end %>
    <% end %>
</select>
<select id="banLevelsSelect" class="select" style="display: none;">
    <%foreach level in banLevels %>
        <% item %>
            <% if ( 1 == level.level ) %>
                <option value="<%= level.level %>" selected="true"><%= level.description %></option>
            <% else %>
                <option value="<%= level.level %>"><%= level.description %></option>
            <% end %>
        <% end %>
    <% end %>
</select>
<div id="postTemplate" class="post" style="display: none;">
    <div class="postHeader">
        <img name="fixed" src="/<%= sitePathPrefix %>img/fixed.png" title="<%= fixedText %>" style="display: none;">
        <img name="closed" src="/<%= sitePathPrefix %>img/closed.png" title="<%= closedText %>" style="display: none;">
        <b name="subject"></b>
        <img name="registered" src="/<%= sitePathPrefix %>img/registered.png" title="<%= registeredText %>"
             style="display: none;">
        <span name="name"></span>
        <span name="tripcode" class="tripcode" style="display: none;"></span>
        <img name="whois" style="display: none;">
        <span name="dateTime"></span>
        #<a name="number"></a>
        <span name="permanent" style="display: none;">
            <span name="moder">
                <a name="editButton" href="javascript:editPost('<%= currentBoard.name %>', '%postNumber%');">
                    <img src="/<%= sitePathPrefix %>img/edit.png" title="<%= editPostText %>" /></a>
                <a name="banButton" href="javascript:banUser('<%= currentBoard.name %>', '%postNumber%');">
                    <img src="/<%= sitePathPrefix %>img/ban.png" title="<%= banUserText %>" /></a>
                <input id="post%postNumber%RawText" name="rawText" type="hidden" value="" />
            </span>
            <a name="deleteButton" href="javascript:deletePost('<%= currentBoard.name %>', '%postNumber%', true);">
                <img src="/<%= sitePathPrefix %>img/delete.png" title="<%= deletePostText %>" /></a>
            <a id="hidePost%postNumber%" name="hideButton"
               href="javascript:setPostHidden('<%= currentBoard.name %>', '%postNumber%', %hide%);">
                <img src="/<%= sitePathPrefix %>img/hide.png" title="<%= showHidePostText %>" /></a>
        </span>
    </div>
    <table class="threadPost">
        <tbody>
            <tr name="files">
                <td class="postText">
                    <blockquote name="text"></blockquote>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <span name="bannedFor" class="bannedFor" style="display: none;"><%= bannedForText %></span>
                <td>
            </tr>
        </tbody>
    </table>
</div>
<% end template %>

<% template bannerHead() %>
<link rel="stylesheet" type="text/css" href="/<%= sitePathPrefix %>css/banner.css">
<% end template %>

<% template createActionHead() %>
<link rel="stylesheet" type="text/css" href="/<%= sitePathPrefix %>css/create_action.css">
<script type="text/javascript" src="/<%= sitePathPrefix %>js/create_action.js"></script>
<% if ( content.captchaEnabled ) %>
    <script type="text/javascript" src="https://www.google.com/recaptcha/api.js"></script>
<% end %>
<% end template %>

<% template boardHead() %>
<link rel="stylesheet" type="text/css" href="/<%= sitePathPrefix %>css/post.css">
<script type="text/javascript" src="/<%= sitePathPrefix %>js/post.js"></script>
<% end %>

<% end view %>
<% end skin %>
