<% c++ #include "controller/base.h" %>
<% skin my_skin %>
<% view base uses Content::Base %>

<% template settings() %>
<div class="settingsBar">
    <span>
        <%= localeLabelText %>
        <select id="localeChangeSelect" class="select" onchange="javascript:changeLocale();">
            <% foreach locale in locales %>
                <% item %>
                    <% if ( locale.name == content.currentLocale.name ) %>
                        <option value="<%= locale.name %>" selected="true">
                    <% else %>
                        <option value="<%= locale.name %>">
                    <% end %>
                        <%= locale.language %> (<%= locale.country %>)
                    </option>
                <% end %>
            <% end %>
        </select>
    </span>
    <span>
        <%= timeLabelText %>
        <select id="timeChangeSelect" class="select" onchange="javascript:changeTime();">
            <% if ( content.currentTime == "local" ) %>
                <option value="server"><%= timeServerText %></option>
                <option value="local" selected="true"><%= timeLocalText %></option>
            <% else %>
                <option value="server" selected="true"><%= timeServerText %></option>
                <option value="local"><%= timeLocalText %></option>
            <% end %>
        </select>
    </span>
    <span>
        <%= loginLabelText %>
        <% if ( content.loggedIn ) %>
            <button class="button" onclick="javascript:doLogout();"><%= loginButtonText %></button>
        <% else %>
            <input id="loginInput" type="password" class="input" name="hashpass"
                   placeholder="<%= loginPlaceholderText %>" />
            <input id="showLoginCheckbox" type="checkbox" class="checkbox" onclick="javascript:switchShowLogin();"
                   name="showLogin" title="<%= showPasswordText %>" />
            <button class="button" onclick="javascript:doLogin();"><%= loginButtonText %></button>
        <% end %>
        <% if ( !content.loginMessageWarning.empty() ) %>
            <span class="loginMessageWarning"><%= loginMessageWarning %></span>
        <% elif ( !content.loginMessageOk.empty() ) %>
            <span class="loginMessageOk"><%= loginMessageOk %></span>
        <% end %>
    </span>
</div>
<% end template %>

<% template navbar() %>
<div class="navbar">
    <% foreach board in boards %>
        <% item %>
        <span class="navbarItem">[<a href="/<%= sitePathPrefix %><%= board.name %>"
              title="<%= board.title %>"><%= board.name %></a>] </span>
        <% end %>
    <% empty %>
    <% end %>
    <span class="navbarItem">[<a href="/<%= sitePathPrefix %>"><%= toHomePageText %></a>]</span>
</div>
<% end template %>

<% template searchAction(std::string position) %>
<% if ( !content.searchApiKey.empty() ) %>
    <div class="searchAction">
        <input type="hidden" id="hideSearchFormText" value="<%= hideSearchFormText %>" />
        <input type="hidden" id="showSearchFormText" value="<%= showSearchFormText %>" />
        <div>
            [<a id="showHideSearchFormButton<%= position %>"
                href="javascript:showHideSearchForm('<%= position %>');">
                <%= showSearchFormText %>
            </a>]
        </div>
        <script>
            (function() {
                var gcse = document.createElement("script");
                gcse.type = "text/javascript";
                gcse.async = true;
                gcse.src = (document.location.protocol == "https:" ? "https:" : "http:") +
                    "//www.google.com/cse/cse.js?cx=<%= searchApiKey %>";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(gcse, s);
            })();
        </script>
        <div id="searchForm<%= position %>" class="searchFormInvisible">
            <gcse:search></gcse:search>
        </div>
    </div>
<% end %>
<% end template %>

<% template baseTexts() %>
<input type="hidden" id="sitePathPrefix" value="<%= sitePathPrefix %>" />
<% end template %>

<% template baseHead() %>
<title><%= pageTitle %></title>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<link id="favicon" rel="shortcut icon" href="/<%= sitePathPrefix %>favicon.ico">
<link rel="stylesheet" type="text/css" href="/<%= sitePathPrefix %>css/base.css">
<% end template %>

<% template settingsHead() %>
<link rel="stylesheet" type="text/css" href="/<%= sitePathPrefix %>css/settings_bar.css">
<script type="text/javascript" src="/<%= sitePathPrefix %>js/3rdparty/sha1.js"></script>
<script type="text/javascript" src="/<%= sitePathPrefix %>js/settings.js"></script>
<% end template %>

<% template navbarHead() %>
<link rel="stylesheet" type="text/css" href="/<%= sitePathPrefix %>css/navbar.css">
<% end template %>

<% template searchActionHead() %>
<link rel="stylesheet" type="text/css" href="/<%= sitePathPrefix %>css/search_action.css">
<script type="text/javascript" src="/<%= sitePathPrefix %>js/search_action.js"></script>
<% end template %>

<% template titleHead() %>
<link rel="stylesheet" type="text/css" href="/<%= sitePathPrefix %>css/title.css">
<% end %>

<% end view %>
<% end skin %>
