<% c++ #include "controller/board.h" %>
<% skin my_skin %>
<% view board uses Content::Board extends base_board %>

<% template threads() %>
<% foreach thread in threads %>
    <% item %>
        <hr />
        <% if ( thread.hidden ) %>
            <div id="thread<%= thread.opPost.number %>" class="hiddenThread">
        <% else %>
            <div id="thread<%= thread.opPost.number %>">
        <% end %>
            <% include post(thread.opPost, thread.self()) %>
        </div>
        <% if ( thread.omittedPosts() > 0 ) %>
            <% if ( thread.hidden ) %>
                <div id="threadOmitted<%= thread.opPost.number %>" class="omittedPosts hiddenPosts">
            <% else %>
                <div id="threadOmitted<%= thread.opPost.number %>" class="omittedPosts">
            <% end %>
                <%= omittedPostsText %> <%= thread.omittedPosts() %>
            </div>
        <% end %>
        <% if ( thread.hidden ) %>
            <div id="threadPosts<%= thread.opPost.number %>" class="threadPosts hiddenPosts">
        <% else %>
            <div id="threadPosts<%= thread.opPost.number %>" class="threadPosts">
        <% end %>
        <% foreach p in thread.lastPosts %>
            <% item %>
                <div>
                    <% include post(p, thread.self()) %>
                </div>
            <% end %>
        <% end %>
        </div>
    <% end %>
<% empty %>
<% end %>
<% end template %>

<% template pages() %>
<div class="pages">
    <% if ( content.currentPage > 0 ) %>
        <span class="pagesItem">
        <% if ( 1 == content.currentPage ) %>
            [<a href="/<%= sitePathPrefix %><%= currentBoard.name %>"><%= toPreviousPageText %></a>]
        <% else %>
            [<a href="/<%= sitePathPrefix %><%= currentBoard.name %>/<%= previousPage() %>.html">
                <%= toPreviousPageText %>
            </a>] 
        <% end %>
        </span>
    <% end %>
    <% foreach page in pages %>
        <% item %>
            <span class="pagesItem">
            <% if ( page != content.currentPage ) %>
                <% if ( page > 0 ) %>
                    [<a href="/<%= sitePathPrefix %><%= currentBoard.name %>/<%= page %>.html"><%= page %></a>]
                <% else %>
                    [<a href="/<%= sitePathPrefix %><%= currentBoard.name %>"><%= page %></a>]
                <% end %>
            <% else %>
                [<b><%= page %></b>]
            <% end %>
            </span>
        <% end %>
    <% empty %>
    <% end %>
    <% if ( content.currentPage < content.pages.size() - 1 ) %>
        <span class="pagesItem">
            [<a href="/<%= sitePathPrefix %><%= currentBoard.name %>/<%= nextPage() %>.html"><%= toNextPageText %></a>]
        </span>
    <% end %>
</div>
<%end template %>

<% template render() %>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <% include baseHead(1) %>
        <% include boardHead() %>
    </head>
    <body onload="javascript:lord.initializeOnLoadBaseBoard();">
        <% include baseTexts() %>
        <% include boardTexts() %>
        <% include navigationButton("bottom") %>
        <% include navigationButton("top") %>
        <iframe id="kostyleeque" name="kostyleeque" style="display: none;" onload="lord.postedOnBoard();"></iframe>
        <a id="top"></a>
        <% include settings() %>
        <br />
        <% include navbar() %>
        <br />
        <% include searchAction() %>
        <% if ( !content.bannerFileName.empty() ) %>
            <br />
        <% end %>
        <% include banner() %>
        <div class="theTitle">
            <h1>
                <%= currentBoard.title %>
                <sup>[<a href="/<%= sitePathPrefix %><%= currentBoard.name %>/rules.html"
                         title="<%= boardRulesLinkText %>">?</a>]</sup>
            </h1>
        </div>
        <% if ( !content.postingEnabled ) %>
            <div class="postingDisabledMessage">
                <h2><%= postingDisabledText %></h2>
            </div>
        <% else %>
            <hr />
        <% end %>
        <% include createAction("Top") %>
        <% include threads() %>
        <% if ( content.postingEnabled ) %>
            <hr />
        <% end %>
        <% include createAction("Bottom") %>
        <hr />
        <% include pages() %>
        <hr />
        <% include navbar() %>
        <a id="bottom"></a>
    </body>
</html>
<% end template %>

<% end view %>
<% end skin %>
