<% c++ #include "controller/thread.h" %>
<% skin my_skin %>
<% view thread uses Content::Thread extends base_board %>

<% template threadActions(std::string position) %>
<div class="threadActions">
    [<a href="/<%= sitePathPrefix %><%= currentBoard.name %>"><%= backText %></a>]
    [<a href="javascript:lord.updateThread('<%= currentBoard.name %>', <%= number %>);"><%= updateThreadText %></a>]
    <% if ( "top" == position ) %>
        [<a href="#bottom"><%= toBottomText %></a>]
    <% else %>
        [<a href="#top"><%= toTopText %></a>]
    <% end %>
    [<input onclick="lord.setAutoUpdateEnabled(this);" id="autoUpdate_<%= position %>"
            type="checkbox"><%= autoUpdateText %></input>]
</div>
<% end template %>

<% template head() %>
<% include baseHead(1) %>
<% include boardHead() %>
<% if ( content.mode.name != "ascetic" ) %>
    <script type="text/javascript" src="/<%= sitePathPrefix %>js/3rdparty/FileSaver.min.js"></script>
    <script type="text/javascript" src="/<%= sitePathPrefix %>js/3rdparty/jszip.min.js"></script>
    <script type="text/javascript" src="/<%= sitePathPrefix %>js/3rdparty/jszip-utils.min.js"></script>
    <script type="text/javascript" src="/<%= sitePathPrefix %>js/thread.js"></script>
<% end %>
<% end template %>

<% template body() %>
<% include baseTexts() %>
<% if ( content.mode.name != "ascetic" ) %>
    <% include boardTexts() %>
<% end %>
<% include customHeader() %>
<% include navigationButton("bottom") %>
<% include navigationButton("top") %>
<input id="noNewPostsText" type="hidden" value="<%= noNewPostsText %>" />
<input id="newPostsText" type="hidden" value="<%= newPostsText %>" />
<input id="currentThreadNumber" type="hidden" value="<%= opPost.number %>" />
<a id="top"></a>
<% include settings() %>
<br />
<% include navbar() %>
<br />
<% include searchAction() %>
<% if ( !content.bannerFileName.empty() ) %>
    <br />
    <% include banner() %>
<% end %>
<div class="theTitle">
    <% if ( !content.pageTitle.empty() ) %>
        <h1><%= pageTitle %></h1>
    <% else %>
        <h1><%= currentBoard.title %> - <%= currentThread %></h1>
    <% end %>
</div>
<% if ( !content.postingEnabled ) %>
    <div class="theMessage">
        <h2><%= postingDisabledText %></h2>
    </div>
<% elif ( content.postLimitReached() ) %>
    <div class="theMessage">
        <h2><%= postLimitReachedText %></h2>
    </div>
<% else %>
    <hr />
    <% include createAction("Top") %>
<% end %>
<% if ( !content.postLimitReached() && content.bumpLimitReached() ) %>
    <div class="theMessage">
        <h3><%= bumpLimitReachedText %></h3>
    </div>
<% end %>
<hr />
<% include threadActions("top") %>
<hr />
<% include post(opPost, 0) %>
<% foreach p in posts %>
    <% item %>
        <% include post(p, 0) %>
    <% end %>
<% end %>
<input id="afterAllPosts" type="hidden" />
<hr />
<% include threadActions("bottom") %>
<% if ( content.mode.name != "ascetic" && content.postingEnabled && !content.postLimitReached() ) %>
    <hr />
    <% include createAction("Bottom") %>
<% end %>
<hr />
<% include navbar() %>
<a id="bottom"></a>
<% include customFooter() %>
<% end template %>

<% template render() %>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <% include head() %>
    </head>
    <body>
        <% include body() %>
    </body>
</html>
<% end template %>

<% end view %>
<% end skin %>
