<% c++ #include "controller/ban.h" %>
<% skin my_skin %>
<% view ban uses Content::Ban extends base %>

<% template render() %>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <% include baseHead(1) %>
    </head>
    <body>
        <% include baseTexts() %>
        <% include customHeader() %>
        <% include settings() %>
        <br />
        <% include navbar() %>
        <br />
        <% include searchAction() %>
        <div class="theTitle">
            <h1><%= banMessage %></h1>
        </div>
        <div class="ban">
            <table>
                <tr>
                    <td>
                        <b><%= banBoardLabel %>:</b>
                    </td>
                    <td>
                        <%= banBoard %>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b><%= banLevelLabel %>:</b>
                    </td>
                    <td>
                        <%= banLevel %>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b><%= banDateTimeLabel %>:</b>
                    </td>
                    <td>
                        <%= banDateTime %>
                    </td>
                </tr>
                <% if ( !content.banReason.empty() ) %>
                    <tr>
                        <td>
                            <b><%= banReasonLabel %>:</b>
                        </td>
                        <td>
                            <%= banReason %>
                        </td>
                    </tr>
                <% end %>
                <% if ( !content.banExpires.empty() ) %>
                    <tr>
                        <td>
                            <b><%= banExpiresLabel %>:</b>
                        </td>
                        <td>
                            <%= banExpires %>
                        </td>
                    </tr>
                <% end %>
            </table>
        </div>
        <% include customHeader() %>
    </body>
</html>
<% end template %>

<% end view %>
<% end skin %>
