<% c++ #include "controller/board_video.h" %>
<% skin my_skin %>
<% view board_video uses Content::BoardVideo extends base %>

<% template render() %>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <% include baseHead(0) %>
    </head>
    <body>
        <div class="theVideo">
            <video autoplay="on" loop="on">
                <source src="/<%= sitePathPrefix %>video/<%= videoFileName %>" type="<%= videoType %>" />
                <%= altVideoText %>
            </video>
        </div>
    </body>
</html>
<% end template %>

<% end view %>
<% end skin %>
