<% c++ #include "controller/board_image.h" %>
<% skin my_skin %>
<% view board_image uses Content::BoardImage extends base %>

<% template render() %>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <% include baseHead() %>
        <link rel="stylesheet" type="text/css" href="/<%= sitePathPrefix %>css/<%= style %>.css">
    </head>
    <body>
        <div class="theImage">
            <img src="/<%= sitePathPrefix %>img/<%= imageFileName %>" title="<%= imageTitle %>">
        </div>
    </body>
</html>
<% end template %>

<% end view %>
<% end skin %>
