<% c++ #include "controller/error.h" %>
<% skin my_skin %>
<% view error uses Content::Error extends base %>

<% template render() %>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <% include baseHead() %>
        <% include settingsHead() %>
        <% include navbarHead() %>
        <link rel="stylesheet" type="text/css" href="/<%= sitePathPrefix %>css/title.css">
        <link rel="stylesheet" type="text/css" href="/<%= sitePathPrefix %>css/error.css">
    </head>
    <body>
        <% include settings() %>
        <br />
        <% include navbar() %>
        <div class="theTitle">
            <h1><%= errorMessage %></h1>
        </div>
        <div class="error">
            <%= errorDescription %>
        </div>
    </body>
</html>
<% end template %>

<% end view %>
<% end skin %>
