<% c++ #include "controller/faq.h" %>
<% skin my_skin %>
<% view faq uses Content::Faq extends base %>

<% template render() %>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <% include baseHead(1) %>
    </head>
    <body class="<%= deviceType %>">
        <% include baseTexts() %>
        <% include customHeader() %>
        <% include settings() %>
        <br />
        <% include navbar() %>
        <br />
        <% include searchAction() %>
        <div class="theTitle">
            <h1><%= pageTitle %></h1>
        </div>
        <% if ( !content.custom.empty() ) %>
            <%= custom | raw %>
        <% end %>
        <% include customFooter() %>
    </body>
</html>
<% end template %>

<% end view %>
<% end skin %>
