<% c++ #include "controller/home.h" %>
<% skin my_skin %>
<% view home uses Content::Home extends base %>

<% template render() %>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <% include baseHead() %>
        <% include settingsHead() %>
        <% include navbarHead() %>
        <% include searchActionHead() %>
        <% include titleHead() %>
        <link rel="stylesheet" type="text/css" href="/<%= sitePathPrefix %>css/home.css">
    </head>
    <body>
        <% include settingsTexts() %>
        <% include settings() %>
        <br />
        <% include navbar() %>
        <% if ( !content.searchApiKey.empty() ) %>
            <br />
        <% end %>
        <% include searchAction("Top") %>
        <div class="theTitle">
            <h1><%= welcomeMessage %></h1>
        </div>
        <% if ( !content.rules.empty() ) %>
            <div class="rules">
                <ol>
                <%foreach rule in rules %>
                     <% item %>
                        <li>
                            <%= rule | raw %>
                        </li>
                    <% end %>
                <% end %>
                </ol>
            </div>
        <% end %>
    </body>
</html>
<% end template %>

<% end view %>
<% end skin %>
