<% c++ #include "controller/mlpboard.h" %>
<% skin my_skin %>
<% view mlp_board uses Content::mlpBoard extends base %>

<% template render() %>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <% include baseHead(0) %>
        <% if ( content.mode.name != "ascetic" ) %>
            <script type="text/javascript">
                /*ololord global object*/

                var lord = lord || {};

                /*Functions*/

                lord.nextStage = function() {
                    document.getElementById("theVideo").pause();
                    document.getElementById("firstStageVideo").className += " hiddenVideo";
                    document.getElementById("nextStageButton").className += " hiddenButton";
                    var nsv = document.getElementById("nextStageVideo");
                    nsv.className = nsv.className.replace(" hiddenVideo", "");
                    document.getElementById("theVideo2").play();
                    var njbtn = document.getElementById("noJokeButton");
                    njbtn.className = njbtn.className.replace(" hiddenButton", "");
                };

                lord.disableJoke = function() {
                    var expires = 2 * 1000 * 1000 * 1000;
                    var d = new Date();
                    d.setTime(d.getTime() + expires * 1000);
                    expires = d.toUTCString();
                    var updatedCookie = "no_joke_mlp=true; expires=" + expires;
                    document.cookie = updatedCookie;
                    document.getElementById("nextStageVideo").className += " hiddenVideo";
                    document.getElementById("noJokeButton").className += " hiddenButton";
                    var img = document.getElementById("okayface");
                    img.className = img.className.replace(" hiddenImage", "");
                    setTimeout(function() {
                        window.location.reload();
                    }, 3000);
                };
            </script>
        <% end %>
    </head>
    <body class="<%= deviceType %>">
        <div id="firstStageVideo" class="theVideo">
            <video id="theVideo" autoplay="on" loop="on">
                <source src="/<%= sitePathPrefix %>video/<%= videoFileName %>" type="<%= videoType %>" />
                <%= altVideoText %>
            </video> 
        </div>
        <button id="nextStageButton" class="button theButton"
                onclick="javascript:lord.nextStage();"><%= buttonText %></button>
        <div id="nextStageVideo" class="theVideo hiddenVideo">
            <video id="theVideo2">
                <source src="/<%= sitePathPrefix %>video/<%= videoFileName2 %>" type="<%= videoType %>" />
            </video> 
        </div>
        <button id="noJokeButton" class="button theButton hiddenButton"
                onclick="javascript:lord.disableJoke();"><%= noJokeButtonText %></button>
        <img id="okayface" class="theImage hiddenImage" src="/<%= sitePathPrefix %>img/okayface.png">
    </body>
</html>
<% end template %>

<% end view %>
<% end skin %>
