<% c++ #include "controller/mlpboard.h" %>
<% skin my_skin %>
<% view mlp_board uses Content::mlpBoard extends base %>

<% template render() %>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <% include baseHead(0) %>
        <script type="text/javascript">
            /*ololord global object*/

            var lord = lord || {};

            /*Functions*/

            lord.nextStage = function() {
                document.getElementById("theVideo").pause();
                document.getElementById("firstStageVideo").className += " hiddenVideo";
                document.getElementById("nextStageButton").className += " hiddenButton";
                var nsv = document.getElementById("nextStageVideo");
                nsv.className = nsv.className.replace(" hiddenVideo", "");
                document.getElementById("theVideo2").play();
            };
        </script>
    </head>
    <body>
        <div id="firstStageVideo" class="theVideo">
            <video id="theVideo" autoplay="on" loop="on">
                <source src="/<%= sitePathPrefix %>video/<%= videoFileName %>" type="<%= videoType %>" />
                <%= altVideoText %>
            </video> 
        </div>
        <button id="nextStageButton" class="button theButton"
                onclick="javascript:lord.nextStage();"><%= buttonText %></button>
        <div id="nextStageVideo" class="theVideo hiddenVideo">
            <video id="theVideo2">
                <source src="/<%= sitePathPrefix %>video/<%= videoFileName2 %>" type="<%= videoType %>" />
            </video> 
        </div>
    </body>
</html>
<% end template %>

<% end view %>
<% end skin %>
