<% c++ #include "controller/notfound.h" %>
<% skin my_skin %>
<% view not_found uses Content::NotFound extends base %>

<% template render() %>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <% include baseHead(1) %>
    </head>
    <body onload="javascript:lord.initializeOnLoadSettings();">
        <% include baseTexts() %>
        <% include settings() %>
        <br />
        <% include navbar() %>
        <br />
        <% include searchAction() %>
        <div class="theTitle">
            <h1><%= notFoundMessage %></h1>
        </div>
        <div class="theImage">
            <img src="/<%= sitePathPrefix %>img/<%= imageFileName %>" title="<%= imageTitle %>">
        </div>
    </body>
</html>
<% end template %>

<% end view %>
<% end skin %>
