<% c++ #include "controller/prboard.h" %>
<% skin my_skin %>
<% view pr_board uses Content::prBoard extends board %>

<% template captchaField(std::string position) %>
<% if ( "Top" == position ) %>
    <div id="googleCaptcha" class="codechaContainer">
        <script type="text/javascript" src="//codecha.org/api/challenge?k=<%= codechaPublicKey %>"> </script>
    </div>
<% end %>
<% end template %>

<% template boardHead() %>
<% include board::boardHead() %>
<link rel="stylesheet" type="text/css" href="/<%= sitePathPrefix %>css/<%= style %>.css">
<% end %>

<% end view %>
<% end skin %>
