<% c++ #include "controller/prboard.h" %>
<% skin my_skin %>
<% view pr_board uses Content::prBoard extends board %>

<% template boardHead() %>
<%include board::boardHead() %>
<script type="text/javascript">
    /*ololord global object*/

    var lord = lord || {};

    /*Functions*/
    
    lord.reloadCaptchaFunction = function() {
        lord.reloadPage();
    };
</script>
<% end template %>

<% end view %>
<% end skin %>
