<% c++ #include "controller/rpgthread.h" %>
<% skin my_skin %>
<% view rpg_thread uses Content::rpgThread extends thread %>

<% template boardHead() %>
<%include thread::boardHead() %>
<script type="text/javascript">
    /*ololord global object*/

    var lord = lord || {};

    /*Functions*/

    //
</script>
<% end template %>

<% end view %>
<% end skin %>
