<% c++ #include "controller/rpgboard.h" %>
<% skin my_skin %>
<% view rpg_board uses Content::rpgBoard extends board %>

<% template boardHead() %>
<%include board::boardHead() %>
<script type="text/javascript">
    /*ololord global object*/

    var lord = lord || {};

    /*Functions*/

    //
</script>
<% end template %>

<% end view %>
<% end skin %>
