<% c++ #include "controller/settings.h" %>
<% skin my_skin %>
<% view settings_view uses Content::Settings extends base %>

<% template render() %>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <% include baseHead(1) %>
    </head>
    <body class="<%= deviceType %>">
        <% include baseTexts() %>
        <% include customHeader() %>
        <% include settings() %>
        <br />
        <% include navbar() %>
        <br />
        <% include searchAction() %>
        <div class="theTitle">
            <h1><%= pageTitle %></h1>
        </div>        
        <form id="settings" class="centerForm" method="post" accept-charset="utf-8" enctype="multipart/form-data"
              action="/<%= sitePathPrefix %>action/change_settings">
            <fieldset>
                <legend><%= generalSettingsLegendText %></legend>
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <%= modeLabelText %>
                            </td>
                            <td>
                                <select name="modeChangeSelect" class="select">
                                    <% foreach m in modes %>
                                        <% item %>
                                            <% if ( m.name == content.mode.name ) %>
                                                <option value="<%= m.name %>" selected="true">
                                            <% else %>
                                                <option value="<%= m.name %>">
                                            <% end %>
                                                <%= m.title %>
                                            </option>
                                        <% end %>
                                    <% end %>
                                </select>
                             </td>
                        </tr>
                        <tr>
                            <td>
                                <%= styleLabelText %>
                            </td>
                            <td class="nowrap">
                                <select name="styleChangeSelect" class="select">
                                    <% foreach st in styles %>
                                        <% item %>
                                            <% if ( st.name == content.style.name ) %>
                                                <option value="<%= st.name %>" selected="true">
                                            <% else %>
                                                <option value="<%= st.name %>">
                                            <% end %>
                                                <%= st.title %>
                                            </option>
                                        <% end %>
                                    <% end %>
                                </select>
                                <%= postShrinkingLabelText %>
                                <% if ( content.shrinkPosts ) %>
                                    <input type="checkbox" name="shrinkPosts" value="true" checked="true" />
                                <% else %>
                                    <input type="checkbox" name="shrinkPosts" value="true" />
                                <% end %>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <%= timeLabelText %>
                            </td>
                            <td class="nowrap">
                                <select name="timeChangeSelect" class="select">
                                    <% if ( content.currentTime == "local" ) %>
                                        <option value="server"><%= timeServerText %></option>
                                        <option value="local" selected="true"><%= timeLocalText %></option>
                                    <% else %>
                                        <option value="server" selected="true"><%= timeServerText %></option>
                                        <option value="local"><%= timeLocalText %></option>
                                    <% end %>
                                </select>
                                <%= timeZoneOffsetLabelText %>
                                <input type="number" name="timeZoneOffset" value="<%= timeZoneOffset %>"
                                       min="-720" max="840" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <%= captchaLabelText %><sup><font color="red">*</font></sup>
                            </td>
                            <td>
                                <select name="captchaEngineSelect" class="select">
                                    <% foreach ce in captchaEngines %>
                                        <% item %>
                                            <% if ( ce.id == content.currentCaptchaEngine.id ) %>
                                                <option value="<%= ce.id %>" selected="true">
                                            <% else %>
                                                <option value="<%= ce.id %>">
                                            <% end %>
                                                <%= ce.title %>
                                            </option>
                                        <% end %>
                                    <% end %>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <%= maxAllowedRatingLabelText %>
                            </td>
                            <td>
                                <select name="ratingSelect" class="select">
                                    <% if ( content.maxAllowedRating >= 180 ) %>
                                        <option value="SFW">SFW</option>
                                        <option value="R-15">R-15</option>
                                        <option value="R-18">R-18</option>
                                        <option value="R-18G" selected="true">R-18G</option>
                                    <% elif ( content.maxAllowedRating >= 18 ) %>
                                        <option value="SFW">SFW</option>
                                        <option value="R-15">R-15</option>
                                        <option value="R-18" selected="true">R-18</option>
                                        <option value="R-18G">R-18G</option>
                                    <% elif ( content.maxAllowedRating >= 15 ) %>
                                        <option value="SFW">SFW</option>
                                        <option value="R-15" selected="true">R-15</option>
                                        <option value="R-18">R-18</option>
                                        <option value="R-18G">R-18G</option>
                                    <% else %>
                                        <option value="SFW" selected="true">SFW</option>
                                        <option value="R-15">R-15</option>
                                        <option value="R-18">R-18</option>
                                        <option value="R-18G">R-18G</option>
                                    <% end %>
                                </select>
                                <img src="/<%= sitePathPrefix %>img/question.png" title="<%= ratingTooltip %>">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <%= draftsByDefaultLabelText %>
                            </td>
                            <td>
                                <% if ( content.draftsByDefault ) %>
                                    <input type="checkbox" name="draftsByDefault" value="true" checked="true" />
                                <% else %>
                                    <input type="checkbox" name="draftsByDefault" value="true" />
                                <% end %>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <%= hidePostformRulesLabelText %>
                            </td>
                            <td>
                                <% if ( content.hidePostformRules ) %>
                                    <input type="checkbox" name="hidePostformRules" value="true" checked="true" />
                                <% else %>
                                    <input type="checkbox" name="hidePostformRules" value="true" />
                                <% end %>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <%= minimalisticPostformLabelText %>
                            </td>
                            <td>
                                <% if ( content.minimalisticPostform ) %>
                                    <input type="checkbox" name="minimalisticPostform" value="true" checked="true" />
                                <% else %>
                                    <input type="checkbox" name="minimalisticPostform" value="true" />
                                <% end %>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <%= hiddenBoardsLabelText %>
                            </td>
                            <td>
                                <div class="scrollAreaH60">
                                    <% foreach board in boards %>
                                        <% item %>
                                            <% if ( content.hiddenBoards.count(board.name) ) %>
                                                <input type="checkbox" name="board_<%= board.name %>" value="true"
                                                       checked="true">[<%= board.name %>] <%= board.title %></input>
                                            <% else %>
                                                <input type="checkbox" name="board_<%= board.name %>"
                                                       value="true">[<%= board.name %>] <%= board.title %></input>
                                            <% end %>
                                            <br />
                                        <% end %>
                                    <% end %>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <sup><font color="red">*</font></sup> <%= captchaLabelWarningText %>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </fieldset>
            <input type="submit" name="submit" value="<%= confirmButtonText %>" />
        </form>
        <% include customFooter() %>
    </body>
</html>
<% end template %>

<% end view %>
<% end skin %>
