<% c++ #include "controller/thread.h" %>
<% skin my_skin %>
<% view thread uses Content::Thread extends base_board %>

<% template post(Content::BaseBoard::Post post, bool op) %>
<% if ( op ) %>
    <div id="opPost<%= post.number %>" class="opPost">
<% else %>
    <div id="post<%= post.number %>" class="post">
<% end %>
    <div class="postHeader">
        <a id="<%= post.number %>"></a>
        <% if ( op && content.fixed ) %>
            <img src="/<%= sitePathPrefix %>img/pin.png" title="<%= fixedText %>">
        <% end %>
        <% if ( op && !content.closed ) %>
            <img src="/<%= sitePathPrefix %>img/closed.png" title="<%= closedText %>">
        <% end %>
        <b><%= post.subject %></b>
        <% if ( post.showRegistered ) %>
            <img src="/<%= sitePathPrefix %>img/registered.png" title="<%= registeredText %>">
        <% end %>
        <% if ( !post.email.empty() ) %>
            <a href="mailto:<%= post.email %>"><%= post.nameRaw %></a>
        <% else %>
            <%= post.name | raw %>
        <% end %>
        <% if ( post.showRegistered && !post.tripcode.empty() ) %>
            <span class="tripcode"><%= post.tripcode %></span>
        <% end %>
        <%= post.dateTime %>
        <% if ( content.postingEnabled ) %>
            #<a href="javascript:insertPostNumber('<%= post.number %>');"><%= post.number %></a>
        <% else %>
            #<a href="#<%= post.number %>"><%= post.number %></a>
        <% end %>
        <a href="javascript:deletePost('<%= currentBoard.name %>', '<%= post.number %>', true);">
        <% if ( op ) %>
            <img src="/<%= sitePathPrefix %>img/delete.png" title="<%= deleteThreadText %>" /></a>
        <% else %>
            <img src="/<%= sitePathPrefix %>img/delete.png" title="<%= deletePostText %>" /></a>
        <% end %>
    </div>
    <table class="threadPosts">
        <tbody>
            <tr>
                <%foreach file in post.files %>
                    <% item %>
                        <% include postFile(file) %>
                    <% end %>
                <% end %>
                <td class="postText">
                    <blockquote><%= post.text | raw %></blockquote>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <% if ( post.bannedFor ) %>
                        <span class="bannedFor"><%= bannedForText %></span>
                    <% end %>
                <td>
            </tr>
        </tbody>
    </table>
</div>
<% end template %>

<% template render() %>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <% include baseHead() %>
        <% include settingsHead() %>
        <% include navbarHead() %>
        <% include bannerHead() %>
        <% include createActionHead() %>
        <% include boardHead() %>
        <% include searchActionHead() %>
        <% include titleHead() %>
        <link rel="stylesheet" type="text/css" href="/<%= sitePathPrefix %>css/thread.css">
        <script type="text/javascript" src="/<%= sitePathPrefix %>js/thread.js"></script>
    </head>
    <body onload="javascript:initializeOnLoadThread();">
        <% include baseTexts() %>
        <% include boardTexts() %>
        <% include settings() %>
        <br />
        <% include navbar() %>
        <% if ( !content.searchApiKey.empty() ) %>
            <br />
        <% end %>
        <% include searchAction("Top") %>
        <% if ( !content.bannerFileName.empty() ) %>
            <br />
        <% end %>
        <% include banner() %>
        <div class="theTitle">
            <% if ( !content.pageTitle.empty() ) %>
                <h1><%= pageTitle %></h1>
            <% else %>
                <h1><%= currentBoard.title %> - <%= currentThread %></h1>
            <% end %>
        </div>
        <% if ( !content.postingEnabled ) %>
            <div class="theMessage">
                <h2><%= postingDisabledText %></h2>
            </div>
        <% elif ( content.postLimitReached() ) %>
            <div class="theMessage">
                <h2><%= postLimitReachedText %></h2>
            </div>
        <% else %>
            <hr />
        <% end %>
        <% if ( !content.postLimitReached() && content.bumpLimitReached() ) %>
            <div class="theMessage">
                <h3><%= bumpLimitReachedText %></h3>
            </div>
        <% end %>
        <% include createAction("Top") %>
        <hr />
        <% include post(opPost, 1) %>
        <% foreach p in posts %>
            <% item %>
                <% include post(p, 0) %>
            <% end %>
        <% empty %>
        <% end %>
        <% if ( content.postingEnabled && !content.postLimitReached() ) %>
            <hr />
        <% end %>
        <% include createAction("Bottom") %>
        <hr />
        <% include navbar() %>
        <% if ( !content.searchApiKey.empty() ) %>
            <br />
        <% end %>
        <% include searchAction("Bottom") %>
    </body>
</html>
<% end template %>

<% end view %>
<% end skin %>
